<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title></title>



    <link href="~/layout/css/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    @if (WatanART.Helpers.CultureHelper.CurrentCulture == 1)
    {
        <link href="~/ar/layout/css/rtl.css" rel="stylesheet">
        <link href="~/ar/layout/css/bootstrap.min-rtl.css" rel="stylesheet">
        <link href="~/layout/css/style.css" rel="stylesheet">
        <link href="~/ar/layout/css/responsive.css" rel="stylesheet">
    }
    else
    {
        <link href="~/layout/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/layout/css/rtl.css" rel="stylesheet">
        <link href="~/layout/css/style.css" rel="stylesheet">
        <link href="~/layout/css/responsive.css" rel="stylesheet">



        <style>
            .forget-password {
                margin-left: 0px;
                margin-right: auto !important;
            }
        </style>
    }
    <!-- Custom styles for this template -->

    <link rel="stylesheet" type="text/css" href="~/layout/css/sliderstyle.css">
    <link href="~/layout/beyond.min.css" rel="stylesheet" />
    <link rel="icon" href="~/assets/img/logo_web_2(2).png" type="image/x-icon">

    <script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '246605562624409',
            status: true,
            cookie: true,
            xfbml: true
        });
    };
    (function (doc) {
        var js;
        var id = 'facebook-jssdk';
        var ref = doc.getElementsByTagName('script')[0];
        if (doc.getElementById(id)) {
            return;
        }
        js = doc.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    function LoginFB() {
        FB.login(function (response) {
            debugger;
            if (response.authResponse) {
                FB.api('/me?fields=id,name,email', function (response) {
                    debugger;

                    //var MethodParam = { 'FaceBookID': response.id, 'Email': response.email, 'Name': response.name };
                    //$.ajax({
                    //    type: 'POST',
                    //    contentType: "application/json; charset=utf-8",
                    //    url: '/Account/Register_Login_Website',
                    //    dataType: "json",
                    //    async: false,
                    //    data: JSON.stringify(MethodParam),
                    //    success: function (response) {
                    //        debugger;
                    //        if (response.result != "0") {
                    //            UserId = response.result;
                    //            location.reload();
                    //        }
                    //        else {
                    //            UserId = 0;
                    //        }
                    //    },
                    //    error: function () {
                    //    }
                    //});
                });
            } else {
               alert("Login attempt failed!");
            }
        }, { scope: 'user_about_me,email' });
    }
    </script>
</head>
<body>

    @*<div class="modal fade" id="login-model" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal3Label">@WatanART.Localization.Resource.LogIn</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">@WatanART.Localization.Resource.EMail</label>
                                <input type="email" class="form-control" id="Login_Email" placeholder="@WatanART.Localization.Resource.EMail">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">@WatanART.Localization.Resource.Password</label>
                                <input type="password" class="form-control" id="Login_Password" placeholder="@WatanART.Localization.Resource.Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="forgetpass-link">@WatanART.Localization.Resource.ForgetPassword</a>
                        <a class="btn btn-secondary" href="@Url.Action("register","Home")">@WatanART.Localization.Resource.newaccount</a>

                        <button type="button" onclick="login();" class="btn btn-primary">@WatanART.Localization.Resource.LogIn</button>
                    </div>
                </div>
            </div>
        </div>*@




    <div class="modal fade" id="login-model" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">@WatanART.Localization.Resource.LogIn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form" method="POST" action="profile.html" class="login-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">@WatanART.Localization.Resource.EMail</label>
                            <input type="email" class="form-control" id="Login_Email" placeholder="@WatanART.Localization.Resource.EMail">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">@WatanART.Localization.Resource.Password</label>
                            <input type="password" class="form-control" id="Login_Password" placeholder="@WatanART.Localization.Resource.Password">
                        </div>

                        <div class="checkbox checkbox2">
                            <label><input type="checkbox" value="">@WatanART.Localization.Resource.rememberme</label>
                        </div>
                        <div class="form-group ">
                            <div class="forget-password">
                                <a class="forgetpass-link">@WatanART.Localization.Resource.ForgetPassword</a>
                            </div>
                            <a class="btn btn-secondary" href="@Url.Action("register","Home")">@WatanART.Localization.Resource.newaccount</a>
                            <button type="button" onclick="login();" class="btn btn-primary">@WatanART.Localization.Resource.LogIn</button>
                        </div>
                        <div class="form-group sign-social">
                            <span>@WatanART.Localization.Resource.orsigninwith :</span>
                            <div class="sign-social-img">
                                <a href="javascript:void(0)" onclick='LoginFB()'><i class="fa fa-facebook-square"></i>Facebook</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <div class="forget-password">
                                <a class="forgetpass-link">@WatanART.Localization.Resource.ForgetPassword</a>
                            </div>
                            <a class="btn btn-secondary" href="@Url.Action("register","Home")">@WatanART.Localization.Resource.newaccount</a>
                            <button type="button" onclick="login();" class="btn btn-primary">@WatanART.Localization.Resource.LogIn</button>
                        </div>*@
                </form>


                <form class="form-horizontal sign-up-form forget-pass-form" role="form" method="POST" action="/register">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="password">@WatanART.Localization.Resource.EMail</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <input type="email" name="password-confirmation" class="form-control" id="forgetpassword_Email" placeholder="example@yourmail.com" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="button" onclick="forgetPassword();" class="btn btn-secondary">@WatanART.Localization.Resource.send</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="cancle btn btn-primary d-flex align-self-start">@WatanART.Localization.Resource.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>





    @*<div style="display:none !important" class="modal fade" id="login-model-makeorder" role="dialog" aria-hidden="true" aria-labelledby="exampleModal4Label" tabindex="-1">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal3Label">@WatanART.Localization.Resource.LogIn</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form role="form" method="POST" action="profile.html" class="login-form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="formGroupExampleInput">@WatanART.Localization.Resource.EMail</label>
                                <input type="email" class="form-control" id="Login_Email_makeorder" placeholder="@WatanART.Localization.Resource.EMail">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">@WatanART.Localization.Resource.Password</label>
                                <input type="password" class="form-control" id="Login_Password_makeorder" placeholder="@WatanART.Localization.Resource.Password">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="forget-password">
                                <a class="forgetpass-link">@WatanART.Localization.Resource.ForgetPassword</a>
                            </div>
                            <a class="btn btn-secondary" href="@Url.Action("register","Home")">@WatanART.Localization.Resource.newaccount</a>
                            <button type="button" onclick="loginMakeorder();" class="btn btn-primary">@WatanART.Localization.Resource.LogIn</button>
                        </div>
                    </form>


                    <form class="form-horizontal sign-up-form forget-pass-form" role="form" method="POST" action="/register">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-3 field-label-responsive">
                                    <label for="password">@WatanART.Localization.Resource.EMail</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <input type="email" name="password-confirmation" class="form-control" id="forgetpassword_Email_makeorder" placeholder="example@yourmail.com" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button type="button" onclick="forgetPassword();" class="btn btn-secondary">@WatanART.Localization.Resource.send</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="cancle btn btn-primary d-flex align-self-start">@WatanART.Localization.Resource.Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@




    <div style="display:none !important" class="modal" id="login-model-makeorder" role="dialog" aria-hidden="true" aria-labelledby="exampleModal4Label" tabindex="-1">


        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">@WatanART.Localization.Resource.LogIn</h5>
                    <button type="button" class="close" data-dismiss="modal" id="closeOrderModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form role="form" method="POST" action="profile.html" class="login-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="formGroupExampleInput">@WatanART.Localization.Resource.EMail</label>
                            <input type="email" class="form-control" id="Login_Email_makeorder" placeholder="@WatanART.Localization.Resource.EMail">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">@WatanART.Localization.Resource.Password</label>
                            <input type="password" class="form-control" id="Login_Password_makeorder" placeholder="@WatanART.Localization.Resource.Password">
                        </div>


                        <div class="form-group">

                        </div>


                    </div>
                    <div class="modal-footer">
                        <div class="forget-password">
                            <a class="forgetpass-link">@WatanART.Localization.Resource.ForgetPassword</a>
                        </div>
                        <a class="btn btn-secondary" href="@Url.Action("register","Home")">@WatanART.Localization.Resource.newaccount</a>
                        <button type="button" onclick="loginMakeorder();" class="btn btn-primary">@WatanART.Localization.Resource.LogIn</button>
                    </div>
                </form>


                <form class="form-horizontal sign-up-form forget-pass-form" role="form" method="POST" action="/register">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-3 field-label-responsive">
                                <label for="password">@WatanART.Localization.Resource.EMail</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <input type="email" name="password-confirmation" class="form-control" id="forgetpassword_Email_makeorder" placeholder="example@yourmail.com" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <button type="button" onclick="forgetPassword();" class="btn btn-secondary">@WatanART.Localization.Resource.send</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="cancle btn btn-primary d-flex align-self-start">@WatanART.Localization.Resource.Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <header class="fixed-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="toggle-menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-md-2">
                    <a class="navbar-brand" href="/"><img src="~/layout/img/logo3.png" /></a>
                </div>
                <div class="col-md-5 d-flex justify-content-end">
                    <div class="header-right">
                        @{
                            if (WatanART.Helpers.CultureHelper.CurrentCulture != 1)
                            {
                                <a href="/Home/ChangeCurrentCulture/1">
                                    <img src="~/layout/img/lang.png">
                                    <span>العربية</span>
                                </a>
                            }
                            else
                            {
                                <a href="/Home/ChangeCurrentCulture/2">
                                    <img src="~/layout/img/lang.png">
                                    <span>Language</span>
                                </a>
                            }
                        }

                    </div>

                    <div class="header-right">

                        <a href="javascript:void(0)" data-toggle="modal" id="btnlogin" style="display:inline;" data-target="#login-model"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span>@WatanART.Localization.Resource.LogIn</span></a>

                        <a href="@Url.Action("Profile","Home")" id="profile" style="display:none !important;"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span id="loggedname"></span></a>

                        <span id="profileMenu" style="display:none !important;">  <i class="fa fa-angle-down account-dropdown-click" aria-hidden="true"></i></span>
                        <div class="account-dropdown" style="display:none;" id="userMenu">
                            
                            <a class="dropdown-item" href="@Url.Action("Profile","Home")">@WatanART.Localization.Resource.Profile</a>
                            <a class="dropdown-item" href="@Url.Action("edit_profile","Home")">Account Setting</a>
                            <a class="dropdown-item" href="#">Add New Work</a>
                            <a class="dropdown-item" href="#">Mange Portfolio</a>
                            <a class="dropdown-item" href="#">Sales History</a>
                            <a class="dropdown-item" href="#">Check wallet</a>
                            @*<a class="dropdown-item" href="@Url.Action("Makeorder","Home")">@WatanART.Localization.Resource.MakeOrder</a>*@
                            <a class="dropdown-item" href="@Url.Action("order_history","Home")">@WatanART.Localization.Resource.OrderHistory</a>
                            <a class="dropdown-item" href="javascript:void(0)" onclick="logout();">@WatanART.Localization.Resource.LogOut</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main role="main">
        <div class="side-menu">
            <div class="d-flex navbar-top align-items-center">
                <a class="navbar-brand" href="#"><img src="~/layout/img/logo-2.png"></a>
                <div class="toggle-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("index","Home")#myCarousel"><i class="fa fa-home"></i><span>@WatanART.Localization.Resource.Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#video"><i class="fa fa-play"></i><span>@WatanART.Localization.Resource.Video</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#shapes"><i class="fa fa-snowflake-o"></i><span>@WatanART.Localization.Resource.Shapes</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#features"><i class="fa fa-mouse-pointer"></i><span>@WatanART.Localization.Resource.features</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#spec"><i class="fa fa-magic"></i><span>@WatanART.Localization.Resource.Spec</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#photos"><i class="fa fa-picture-o"></i><span>@WatanART.Localization.Resource.Photos</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("index","Home")#footer"><i class="fa fa-hand-o-right"></i><span>@WatanART.Localization.Resource.App</span></a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" href="#reviews"><i class="fa fa-link"></i><span>@WatanART.Localization.Resource.Reviews</span></a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="#footer"><i class="fa fa-headphones"></i><span>@WatanART.Localization.Resource.ContactUS</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About","Home")"><i class="fa fa-info"></i><span>@WatanART.Localization.Resource.AboutUS</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("FAQ","Home")"><i class="fa fa-question"></i><span>@WatanART.Localization.Resource.FAQ</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("privacy","Home")"><i class="fa fa-user-secret"></i><span>@WatanART.Localization.Resource.privacypolicy</span></a>
                        </li>

                        @*<li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Makeorder","Home")"><i class="fa fa-cart-plus"></i><span>@WatanART.Localization.Resource.MakeOrder</span></a>
                        </li>*@


                        @*<li class="nav-item">

                                <a class="nav-link" href="javascript:void(0)" onclick="logout();"><i class="fa fa-question"></i><span>@WatanART.Localization.Resource.LogOut</span></a>
                            </li>*@

                    </ul>
                </div>
            </nav>
        </div>
        <div class="auto-content">
            @RenderBody()
            <!-- FOOTER -->
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="footer-block">
                                    <h3>@WatanART.Localization.Resource.ContactUS</h3>
                                    <form>
                                        <div class="form-group">
                                            <input type="email" data_bv_notempty = "true",
                                           data_bv_notempty_message ='test'
                                           data_bv_regexp = "true"
                                          
                                           pattern="[a-z0-9._%+-]+[a-z0-9.-]+\.[a-z]{2,4}$" required class="form-control" id="Email" placeholder="@WatanART.Localization.Resource.EMail">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" required class="form-control" id="Subject" placeholder="@WatanART.Localization.Resource.subject">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="Message" placeholder="@WatanART.Localization.Resource.Message"></textarea>
                                        </div>
                                        <button type="button" onclick="sendContactUsData();" class="btn btn-primary">@WatanART.Localization.Resource.send</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-block">
                                    <h3>@WatanART.Localization.Resource.callus</h3>
                                    <ul class="footer-nav list-unstyled">
                                        <li>
                                            <a href="/" style="cursor: default;"><i class="fa fa-volume-control-phone"></i><span id="mobile"></span></a>
                                        </li>
                                        <li>
                                            <a href="/" style="cursor: default;"><i class="fa fa-map-marker"></i><span id="address"></span></a>
                                        </li>
                                        <li>
                                            <a href="/"><i class="fa fa-globe"></i><span id="WebsiteLink"></span></a>
                                        </li>
                                    </ul>
                                    <ul id="socialmediaIcons" class="social-icons d-flex justify-content-center list-unstyled">
                                        @*<li>
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href=""><i class="fa fa-instagram"></i></a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="footer-block">
                                    <h3>@WatanART.Localization.Resource.App</h3>
                                    <ul class="footer-nav list-unstyled">
                                        <li>
                                            <a href="" id="AndriodAppUrl"><i class="fa fa-android"></i><span>Andriod</span></a>
                                        </li>
                                        <li>
                                            <a href="" id="IosAppUrl"><i class="fa fa-apple"></i><span>Apple ios</span></a>
                                        </li>
                                        @*<li>
                                                <a href=""><i class="fa fa-desktop"></i><span>Desktop  Web</span></a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <p>CopyRight@2018</p>
                    </div>
                </div>
            </footer>
        </div>
    </main>

    <div id="modal-success" class="modal modal-message modal-success fade" style="display: none;" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="glyphicon glyphicon-check"></i>
                </div>
                <div class="modal-title">Success</div>
                <div class="modal-body">
                    <label id="SuccessMessage"></label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- / .modal-content -->
        </div>
        <!-- / .modal-dialog -->
    </div>


    @{ Html.RenderPartial("_popup"); }

</body>
<script>

    var IOBreadcrumb = {
        breadcrumbs: [],
        add: function(realimage,croppedimage,pattern,objectdata, zoom,rotate,count) {
            var crumb = {
                realimage: realimage,
                croppedimage:croppedimage,
                pattern:pattern,
                objectdata:objectdata,
                zoom:zoom,
                rotate:rotate,
                imagecount:count
            };
            IOBreadcrumb.breadcrumbs.push(crumb);
        }
    };

  //IOBreadcrumb.add('some title',"test");
</script>
<script src="~/layout/js/jquery-3.1.1.min.js"></script>
<script src="~/layout/js/bootstrap.min.js"></script>
<script src="~/layout/js/popper.min.js"></script>


@if (WatanART.Helpers.CultureHelper.CurrentCulture == 1)
{
    <script src="~/ar/layout\js\scripts.js"></script>
    @*<script src = "~/ar/layout/js/scripts.js" ></script>*@
}
else
{
    @*<script src = "~/layout/js/scripts.js" ></script>*@
    <script src="~/layout\js\scripts.js"></script>
}

<script src="~/layout\js\slider.jquery.js"></script>
<script src="~/Areas/Admin/Js/General.js"></script>
<script>





    $(document).ready(function () {
        contactus();
        //IOBreadcrumb.add('some title',"test");
        console.log(IOBreadcrumb.breadcrumbs);

        $('body').click(function(evt){
            if(evt.target.id == "profileMenu")
                return;
            //For descendants of menu_content being clicked, remove this check if you do not want to put constraint on descendants.
            if($(evt.target).closest('#profileMenu').length)
                return;
            var sf_menu_sub = $('.account-dropdown');
            sf_menu_sub.hide();
            //Do processing of click event here for every element except with id menu_content

        });

        //var sf_menu_sub = $('.account-dropdown');
        //$(document).on('click', function (e) {
        //    sf_menu_sub.hide();
        //});
    });

    function viewCities()
    {
        $("#cityid").html("");
        var htmlContent="";
        var CountryID=$("#CountryID").val();
        var MethodParam = { "CountryID": CountryID};
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify(MethodParam),
            url: "/home/ViewCities",
            success: function (data) {
                if (data.length > 0) {
                    htmlContent+='<option value="-1">Choose City</option>';
                    for (var i = 0; i < data.length; i++) {
                        htmlContent+="<option value="+data[i].ID+">"+data[i].Title+"</option>";
                    }
                    $("#cityid").html(htmlContent);
                }
            }
        });
    }


    function contactus() {
        var MethodParam = { 'Language': @WatanART.Helpers.CultureHelper.CurrentCulture };
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify(MethodParam),
            url: "/api/SettingApi/GetContactUsData",
            success: function (data) {
                debugger;
                $("#mobile").text(data.result.PhoneNumber);
                $("#address").text(data.result.Address);
                $("#WebsiteLink").text(data.result.WebsiteLink);
                $("#AndriodAppUrl").prop("href", data.result.AndriodAppUrl);
                $("#IosAppUrl").prop("href", data.result.IosAppUrl);
                if (data.result.FacebookUrl != null) {
                    $("#socialmediaIcons").append('<li><a href="' + data.result.FacebookUrl + '"><i class="fa fa-facebook"></i></a></li>');
                }
                if (data.result.TwitterUrl != null) {
                    $("#socialmediaIcons").append('<li><a href="' + data.result.TwitterUrl + '"><i class="fa fa-twitter"></i></a></li>');
                }
                if (data.result.InstagramUrl != null) {
                    $("#socialmediaIcons").append('<li><a href="' + data.result.InstagramUrl + '"><i class="fa fa-instagram"></i></a></li>');
                }
                //if (data.result.FacebookUrl != null) {
                //    $("#socialmediaIcons").append('<li><a href="' + data.result.FacebookUrl + '"><i class="fa fa-facebook"></i></a></li>');
                //}
                //if (data.result.FacebookUrl != null) {
                //    $("#socialmediaIcons").append('<li><a href="' + data.result.FacebookUrl + '"><i class="fa fa-facebook"></i></a></li>');
                //}
            }
        });
    }




    function checkEmail (email)
    {
        var pattern =  new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);;
        return   pattern.test(email) ;
    }

    function sendContactUsData() {
        var htmlContent = "";
        var fullname = $("#Email").val();
        var Email = $("#Email").val();
        var Subject =$("#Subject").val();
        var Message = $("#Message").val();
        var ServiceID =1;
        if (Email.trim()!="" ) {
            var resultval= checkEmail(Email);
            if (resultval==false) {
                alert("@WatanART.Localization.Resource.correctmailvalidation");
                return false;
            }
            else if (Subject.includes("#")||
                Subject.includes("=")||
                Subject.includes("-")||
                Subject.includes("_")||
                Subject.includes("$")||
                 Subject.includes("^")||
                Subject.includes("*")||
                Subject.includes("(")||
                Subject.includes(")")) {
                alert("@WatanART.Localization.Resource.correctSubjectvalidation");
                return false;
            }
        }

        if (Email.trim()=="" || Subject.trim()=="" || Message.trim()=="" ) {
            if (Email.trim()=="") {
                $('#Email').css('border-color', 'red');
            }
            else {
                $('#Email').css('border-color', '');
            }

            if (Subject.trim()=="") {
                $('#Subject').css('border-color', 'red');
            }
            else {
                $('#Subject').css('border-color', '');
            }

            if (Message.trim()=="") {
                $('#Message').css('border-color', 'red');
            }
            else {
                $('#Message').css('border-color', '');
            }
            alert("@WatanART.Localization.Resource.PleaseCompleteYourData");
            return false;
        }
        var MethodParam = { "FullName": fullname, "Email": Email, "Subject": Subject, "Message": Message, "ServiceID": ServiceID };
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify(MethodParam),
            url: "/api/UserRequests/ContactUs",
            success: function (data) {
                debugger;
                if (data.result.message !="") {
                    Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.SucessMessage", true, 'Ok', '', false, '', '', false, '', '', null, null, null);

                    ClearedData();
                }
                else {
                    Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.ErrorOccurred", true, 'Ok', '', false, '', '', false, '', '', null, null, null);

                }
            }
        });
    }



    function telephoneCheck(phoneNumber) {
        //var phoneRGEX = /^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/;
        //var phoneResult = phoneRGEX.test(phoneNumber);
        var phoneRGEX = /^[+]?[0-9]{9,12}$/;
        var phoneResult = phoneRGEX.test(phoneNumber);
        return phoneResult;
        // alert("phone:"+phoneResult );
    }


    function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
        return pattern.test(emailAddress);
    }
    function forgetPassword()
    {
        debugger;
        var Email = $("#forgetpassword_Email").val();

        if (Email.trim()=="") {
            $('#forgetpassword_Email').css('border-color', 'red');
            return false;
        }
        else {
            $('#forgetpassword_Email').css('border-color', '');
        }



        if (Email.trim()!="" ) {
            var resultval= checkEmail(Email);
            if (resultval==false) {
                Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.correctmailvalidation", true, 'Ok', '', false, '', '', false, '', '', null, null, null);
                return false;
            }
        }


        var MethodParam = { "Email": Email};
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            async: false,
            data: JSON.stringify(MethodParam),
            url: "/api/Users/ForgetPassword  ",
            success: function (data) {
                if (data.result==true) {
                    Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.DoneSuccessfully", true, 'Ok', '', false, '', '', false, '', '', null, null, null);
                    window.location.href = "/home/index";
                }
                else {
                    Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.EnterVALIDEmailAddress", true, 'Ok', '', false, '', '', false, '', '', null, null, null);
                    //alert("البريد الإلكتروني غير صحيح");
                }
            }
        });
    }


    function login()
    {
        debugger;
        var Email = $("#Login_Email").val();
        var Password = $("#Login_Password").val();

        if (Email.trim()==""||!(checkEmail(Email))) {
            $('#Login_Email').css('border-color', 'red');
            return false;
        }
        else {
            $('#Login_Email').css('border-color', '');
        }


        if (Password.trim()=="") {
            $('#Login_Password').css('border-color', 'red');
            return false;
        }
        else {
            $('#Login_Password').css('border-color', '');
        }


        if(Email.trim()!=""&&checkEmail(Email)&&Password.trim()!=""){
            var MethodParam = { "Email": Email, "Password": Password, "Language":  @WatanART.Helpers.CultureHelper.CurrentCulture };
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                async: false,
                data: JSON.stringify(MethodParam),
                url: "/api/Users/Login",
                success: function (data) {
                    debugger;
                    if (data.result.success == false) {
                        if(data.result.Message=="Locked"){
                            Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.accountloked", true, 'Ok', '', false, '', '', false, '', '', null, null, null);
                        }else{
                            Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.Emailandpass", true, 'Ok', '', false, '', '', false, '', '', null, null, null);

                        }

                    }
                    else {
                        //alert(data.result.obj.UserID);
                        setCookie('UserID',data.result.obj.UserID,1);
                        setCookie('UserName',data.result.obj.FullName,1);

                        $("#btnlogin").hide();
                        $("#profile").show();
                        $("#profileMenu").show();
                        //  $("#userMenu").show();

                        $("#loggedname").text(data.result.obj.FullName);
                        // $("#login-model .close").click();
                        $("#login-model").modal('toggle');

                        $(".modal-backdrop.show").hide();
                        window.location.href = "/home/index";
                    }
                }
            });
        }else{

            Show_Alert('Confirmation', 'info', "@WatanART.Localization.Resource.PleaseCompleteYourData", true, 'Ok', '', false, '', '', false, '', '', null, null, null);

        }
    }





    //function setCookie(c_name,value,exdays) {
    //    var exdate=new Date();
    //    exdate.setDate(exdate.getDate() + exdays);
    //    var c_value=escape(value) + ((exdays==null) ? "" : ";expires="+exdate.toUTCString());
    //    document.cookie=c_name + "=" + c_value;

    //}

    function setCookie(cname,cvalue,exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }



    function getCookie(c_name) {
        var i, x, y, ARRcookies = document.cookie.split(";");
        for (i = 0; i < ARRcookies.length; i++) {
            x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
            y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == c_name) {
                return unescape(y);
            }
        }
    }

    function logout()
    {
        delete_cookie("UserID");

        var url = '@Url.Action("Logoff", "Account")';
        $.ajax({
            url: url,
            cache: false,
            type: "GET",
            success: function (data) {
                var dataRes = data;
                if (dataRes > 0) {

           
                    window.location.href = "/home/index";

                }

      

            }
        });
    }
    function deleteAllCookies() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }

    function delete_cookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }


    function ClearedData()
    {
        $("input[type=text]").val('');
        $("input[type=email]").val('');
        $("textarea").val("");

    }


    $("#closeOrderModal").click(function(){
        debugger;
        $("#login-model-makeorder").modal('toggle');
        $(".modal-backdrop.show").hide();


    });

    $(document).ready(function(){
        debugger;
        var userid=getCookie("UserID");
        if (userid!=undefined) {
            $("#profile").show();
            $("#profileMenu").show();
            // $("#userMenu").show();

            $("#btnlogin").hide();
            var FullName= getCookie('UserName');
            $("#loggedname").text(FullName);
        }
        else {
            $("#profile").hide();
            $("#profileMenu").hide();
            $("#btnlogin").show();
            $("#userMenu").hide();
        }


    });



    var scrollbutton = $("#scroll-top");
    $(window).scroll(function () {
        if ($(this).scrollTop() >= 600) {
            scrollbutton.show();
        } else {
            scrollbutton.hide();
        }
    });
</script>

@*@Scripts.Render("~/bundles/jquery")*@
@*@Scripts.Render("~/bundles/bootstrap")*@

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://fengyuanchen.github.io/js/common.js"></script>*@
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/common.js"></script>
<script src="~/js/cropper.js"></script>
<script src="~/js/main.js"></script>


@RenderSection("scripts", required: false)
</html>
