
<li>
    <div class="dropdown show-on-hover">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown">
            <a href="#" title="log in/sign up"><i class="fa fa-sign-in" aria-hidden="true"></i><span class="sign-in">@WatanART.Localization.Resource.LogIn</span></a>
        </span>
        <ul class="dropdown-menu">
            <li>

                @{
                    if (!Request.IsAuthenticated)
                    {
                        <h4>@WatanART.Localization.Resource.LogIn</h4>
                        <a href="javascript:void(0)" onclick='LoginFB()' class="log-facebook"><i class="fa fa-facebook" aria-hidden="true"></i>@WatanART.Localization.Resource.LogInWithFacebook</a>
                        <a href="@Url.Action("TwiiterLogged2", "Account")" class="log-twitter"><i class="fa fa-twitter" aria-hidden="true"></i>@WatanART.Localization.Resource.LogInWithTwitter</a>
                    }
                    else
                    {
                        <h4>@WatanART.Localization.Resource.Welcome</h4>
                        <p>@{Html.RenderAction("GetUserName", "Account");}</p>
                            using (Html.BeginForm("logOFF", "Home", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()

                            }
                            <a class="web-btn hvr-bounce-to-right login-btn" href="javascript:document.getElementById('logoutForm').submit()">@WatanART.Localization.Resource.LogOut</a>
                            }
                }

                @*<p>don't have an account ?<a href="#">sign up</a></p>*@
            </li>
        </ul>
    </div>
</li>

