
@model  WatanART.BLL.ViewModels.ModulesVM
@{
    ViewBag.Title = WatanART.Localization.Resource.AddEdit;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

     
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        @*<li><a href="@Url.Action("Index",new { id=Model.ModuleCatID})">@WatanART.Localization.Resource.ModulesList</a></li>*@
        <li>@WatanART.Localization.Resource.AddEdit</li>
    </ol>
</div>
@*<a href="~/Areas/Admin/Views/Modules/MesPartial.cshtml">~/Areas/Admin/Views/Modules/MesPartial.cshtml</a>*@
@if (ViewBag.code == "#MESHPRINT")
{
    @Html.Partial("~/Areas/Admin/Views/Modules/MesPartial.cshtml", Model)
}
else if (ViewBag.code == "#FAQ")
{
    @Html.Partial("~/Areas/Admin/Views/Modules/FAQpartial.cshtml", Model)


}
else if (ViewBag.code == "#PHOTOS" || ViewBag.code == "#Slider")
{
    @Html.Partial("~/Areas/Admin/Views/Modules/Photopartila.cshtml", Model)
}
@*else if (ViewBag.code == "#Shapes")
{
    @Html.Partial("~/Areas/Admin/Views/Modules/Shapes.cshtml", Model)
}*@
else if (ViewBag.code == "#REVIEWS")
{
    @Html.Partial("~/Areas/Admin/Views/Modules/Reviews.cshtml", Model)
}
else
{
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- START ROW -->
            <div class="row">
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>@WatanART.Localization.Resource.AddEdit </h2>

                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">
                                @*<form id="smart-form-register" class="smart-form">*@
                                @using (Html.BeginForm("AddEdit", "Modules", FormMethod.Post, new
                                {
                                    @class = "form-horizontal",
                                    data_bv_message = "This value is not valid",
                                    data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                    data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                    data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                    role = "form",
                                    enctype = "multipart/form-data",
                                    id = "frmForm"
                                }))
                                {
                                    <input type="hidden" id="ModuleID" name="ModuleID" value="@Model.ModuleID" class="formdata" />
                                    <input type="hidden" id="ModuleCatID" name="ModuleCatID" value="@Model.ModuleCatID" class="formdata" />

                                    <fieldset>


                                        <div class="form-group">



                                            @Html.LabelFor(m => m.ModuleTitleAr, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.ModuleTitleAr, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.TitleAr
                                       })

                                                @Html.ValidationMessageFor(model => model.ModuleTitleAr, "", new { @class = "text-danger" })
                                            </div>

                                            @Html.LabelFor(m => m.ModuleTitleEn, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.ModuleTitleEn, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.TitleEn
                                       })

                                                @Html.ValidationMessageFor(model => model.ModuleTitleEn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            @Html.LabelFor(m => m.ModuleHintAr, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextAreaFor(m => m.ModuleHintAr, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           placeholder = @WatanART.Localization.Resource.HintAr
                                       })
                                                @Html.ValidationMessageFor(model => model.ModuleHintAr, "", new { @class = "text-danger" })
                                            </div>

                                            @Html.LabelFor(m => m.ModuleHintEn, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextAreaFor(m => m.ModuleHintEn, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           placeholder = @WatanART.Localization.Resource.HintEn
                                       })
                                                @Html.ValidationMessageFor(model => model.ModuleHintEn, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="form-group">
                                                @Html.LabelFor(m => m.ModuleDiscAr, new { @class = "col-lg-2 control-label" })
                                                <div class="col-lg-4">
                                                    @Html.TextAreaFor(m => m.ModuleDiscAr, new
                                               {
                                                   @class = "formdata  form-control",
                                                   data_bv_notempty = "true",
                                                   data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                                   placeholder = @WatanART.Localization.Resource.DiscAr
                                               })
                                                    @Html.ValidationMessageFor(model => model.ModuleDiscAr, "", new { @class = "text-danger" })
                                                </div>

                                                @Html.LabelFor(m => m.ModuleDiscEn, new { @class = "col-lg-2 control-label" })
                                                <div class="col-lg-4">
                                                    @Html.TextAreaFor(m => m.ModuleDiscEn, new
                                               {
                                                   @class = "formdata   form-control",
                                                   data_bv_notempty = "true",
                                                   data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                                   placeholder = @WatanART.Localization.Resource.DiscEn
                                               })
                                                    @Html.ValidationMessageFor(model => model.ModuleDiscEn, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @*

                                            <div class="form-group">
                                                @Html.Label(WatanART.Localization.Resource.MainLink, new { @class = "col-lg-2 control-label" })
                                                <div class="col-lg-10">
                                                    @Html.TextBoxFor(m => m.ModuleMainLink, new
                                               {
                                                   @class = "formdata form-control",
                                                   data_bv_notempty = "false",
                                                   pattern = @"((www\.|(http|https|ftp|news|file|)+\:\/\/)?[&#95;.a-z0-9-]+\.[a-z0-9\/&#95;:@=.+?,##%&~-]*[^.|\'|\# |!|\(|?|,| |>|<|;|\)])",
                                                   data_bv_regexp_message = @WatanART.Localization.Resource.ErrorMessageURL

                                               })

                                                    @Html.ValidationMessageFor(model => model.ModuleMainLink, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                                *@
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ModuleIsActive, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        @*<input type="checkbox" id="IsActive" name="IsActive" class="checkbox style-0" checked="checked">*@
                                                        @Html.CheckBoxFor(model => model.ModuleIsActive, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "checkbox isactivecclass style-1",
                                                       @checked = "checked"
                                                   }
                                               })
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        @*@Html.Partial("ImageControlPV", ""+Model.ModuleImage+"", new ViewDataDictionary(this.ViewData) {   { "ID", "ModuleImage" } })*@




                                    </fieldset>
                                    @Html.Partial("ImageControlJS", (Model.ModuleImage == null ? "" : Model.ModuleImage.ToString()), new ViewDataDictionary(this.ViewData) { { "ID", "ModuleImage" } })
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <button type="button" onclick="Submit();" class="btn btn-primary" id="btnSubmit">
                                                    <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                                </button>
                                                @*<button type="submit" class="btn btn-primary" id="btnSubmit">
                                                        <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                                    </button>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                                @*</form>*@

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
                </article>
                <!-- END COL -->
            </div>
            <!-- END ROW -->
        </section>
        <!-- end widget grid -->
    </div>
}

<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    var type=0;
    $( document ).ready(function() {
        if ('@ViewBag.code' == "#MESHPRINT"||'@ViewBag.code' == "#Shapes") {
            type=1;
        }
    });
    function Submit() {
        $('#frmForm').bootstrapValidator('validate');

        if ($('#frmForm').has('.has-error').length === 0) {
            submitInsert();
        } else {
            // alert("notvalid");
        }

    }



    $(function () {
        $('#ModuleIsActive').change(function () {
            if (this.checked) {
                // Do something...
                $(this).val("true");
            } else {
                $(this).val("false");
            }
        });
    });



    function submitInsert() {
        debugger;
        //var Linkeslist = [];
        //$("#tbl_Links  tr").each(function () {
        //    var x = $(this).find('td:eq(0)').text();
        //    var BacisData = x.split('||');
        //    var obj = {
        //        "LinkID": BacisData[0],
        //        "LinkIcon": BacisData[1],
        //        "LinkCatagory": BacisData[2],
        //        "LinkItemID": BacisData[2],
        //        "LinkNameAr": $(this).find('td:eq(2)').find('input').val(),
        //        "LinkNameEn": $(this).find('td:eq(1)').find('input').val(),
        //        "LinkURL": $(this).find('td:eq(3)').find('input').val()
        //    }


        //    Linkeslist.push(obj);
        //    //alert(x);
        //});


        //console.log(Linkeslist);
        var ModuleID = @Model.ModuleID;
        var ModuleCatID = @Model.ModuleCatID;
        var ModuleTitleAr = $("#ModuleTitleAr").val();
        var ModuleTitleEn = $("#ModuleTitleEn").val();
        var ModuleHintAr = $('#ModuleHintAr').val();
        if (type==1) {
            var ModuleHintEn = $('#hid_ModuleImage3').val();
            var ModuleMainLink = $('#hid_ModuleImage2').val();
        }else {
            var ModuleHintEn = $('#ModuleHintEn').val();
            var ModuleMainLink = $("#ModuleMainLink").val();
        }

        var ModuleDiscAr = $("#ModuleDiscAr").val();
        var ModuleDiscEn = $("#ModuleDiscEn").val();

        var ModuleImage = $("#hid_ModuleImage").val();

        var isactive = $("#ModuleIsActive").val();

       // var data2 = ConvertFormToJSON("frmForm");
       // alert(data2);
        var url = '@Url.Action("InsertUpdate", "Modules")';
        $.ajax({
            url: url,
            data: {
                ModuleID: ModuleID, ModuleCatID: ModuleCatID, ModuleTitleAr: ModuleTitleAr, ModuleHintAr: ModuleHintAr, ModuleDiscAr: ModuleDiscAr
, ModuleMainLink: ModuleMainLink, ModuleImage: ModuleImage, ModuleHintEn: ModuleHintEn, ModuleTitleEn: ModuleTitleEn, ModuleDiscEn: ModuleDiscEn, ModuleIsActive: isactive
                        },


            cache: false,
            type: "POST",
            success: function (data) {

                var dataRes = data;
                if (dataRes > 0) {


                    swal({
                        text: "@WatanART.Localization.Resource.DataSavedSuccessfully ",
                        //timer: 5000
                    }).then(
                       function () {
                           var href = "/Admin/Modules/Index/@ViewBag.catID";
                           window.location.href = href;

                       })


                } else {
                    swal("@WatanART.Localization.Resource.ErrorOccurred");
                }


            }
        });
        //}

    }








</script>


<script>
 


    function DeleteItem(ID, control) {
        var data = { 'ID': ID };
        var url = "/admin/Modules/DeleteLink";
        General_DeleteItem(ID, control, data, url, "@WatanART.Localization.Resource.DeleteMessageConfirmation", "@WatanART.Localization.Resource.RecordDeletedSuccessfully", "@WatanART.Localization.Resource.ErrorOccurred");

         
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





