@model IEnumerable<WatanART.BLL.ViewModels.ModulesVM>
@{
    //ViewBag.Title = WatanART.Localization.Resource.MenuNews;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li>@ViewBag.Title </li>
    </ol>
</div>
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body widget-body1">
                            @Html.Hidden("CatID",(long?) ViewBag.CatID)
                            <a href="@Url.Action("AddEdit", new { @CatID = ViewBag.CatID, @Modid =0})" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="fa fa-plus-square-o"></i></span>
                         
                            @if (ViewBag.code == "#FEATURES" )
                            {
                                @WatanART.Localization.Resource.Addfeature
                            }
                             else if (ViewBag.code == "#Shapes")
                            {
                               @WatanART.Localization.Resource.Addshape
                            }
                            else if (ViewBag.code == "#MESHPRINT")
                            {
                                @WatanART.Localization.Resource.AddSpec
                            }

                            else if (ViewBag.code == "#Slider")
                            {
                                @WatanART.Localization.Resource.AddSlider
                            }

                            else if (ViewBag.code == "#FAQ")
                            {
                                @WatanART.Localization.Resource.AddFAQ
                            }
                            else
                            {
                                @WatanART.Localization.Resource.AddNewRecord
                            }
                            </a>
                        </div>
                        <div class="widget-body">
                            @{Html.RenderPartial("tbl_Modules", Model);}
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">
    function ReloadTable(e) {

        var catID = $("#CatID").val();

        General_ReloadTable(e, "/Admin/Modules/ViewModules?CurrentPage=", "&catID=" + catID);

    }
    
    function DeleteItem(ID, control) {
 
        var data = { 'ModulesID': ID };
        var url = "/admin/Modules/DeleteModules";
        General_DeleteItemnew(ID, control, data, url, "@WatanART.Localization.Resource.DeleteMessageConfirmation", "@WatanART.Localization.Resource.RecordDeletedSuccessfully", "@WatanART.Localization.Resource.ErrorOccurred");

    }
    function ActiveDective(ID, control) {

        var data = { 'ID': ID, 'IsActive': $(control).is(':checked') };
        var url = "/admin/Modules/ActiveDective";
        General_ActiveDective(ID, control, data, url, "@WatanART.Localization.Resource.ChangeStatusMessageConfirmation", "@WatanART.Localization.Resource.RecordChangeduccessfully", "@WatanART.Localization.Resource.ErrorOccurred");
             
    }


    debugger;

    $(document).ready(function () {
        var catIDpage = $("#CatID").val();

        if (catIDpage == 11) {
            $('.dataTables_filter').attr("style", "display: none !important");
        }

        else {


        }
    });
   
    
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

