
@{
    ViewBag.Title = @WatanART.Localization.Resource.Home;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- RIBBON -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Areas/Admin/Js/select2-bootstrap.css" rel="stylesheet" />
<link href="~/Areas/Admin/Js/select2.css" rel="stylesheet" />
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>@WatanART.Localization.Resource.Home</li>
        @*<li>Dashboard</li>*@
    </ol>
    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->
</div>
<!-- END RIBBON -->
<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"
                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@WatanART.Localization.Resource.UsersLists </h2>
                    </header>




                    <div class="col-md-12">
                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        <div class="portlet light ">
                            <div class="portlet-body">
                                <div class="table-toolbar">
                                    <div class="row">
                                        <div class="portlet light ">
                                            @*<div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-settings font-dark"></i>
                                                        <span class="caption-subject font-dark sbold uppercase">@Ekad.CentralReservation.Resources.Resource.filters</span>
                                                    </div>
                                                </div>*@
                                            <div class="portlet-body form">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <input type="hidden" id="datefromIDarr" value="" />
                                                            <input type="hidden" id="dateToIDarr" value="" />
                                                            <input type="hidden" id="datefromIDdep" value="" />
                                                            <input type="hidden" id="dateToIDdep" value="" />
                                                            <input type="hidden" id="datefromIDbok" value="" />
                                                            <input type="hidden" id="dateToIDbok" value="" />
                                                            <label class="col-md-3 control-label">@WatanART.Localization.Resource.ChooseFilter</label>
                                                            <div class="col-md-7">
                                                                <select class="form-control" name="filterrtypeddl" id="filterrtypeddl">
                                                                    <option value="0">---@WatanART.Localization.Resource.Selectall---</option>
                                                                  
                            
                                                                    <option value="5">@WatanART.Localization.Resource.country</option>
                                                                    @*<option value="6">@WatanART.Localization.Resource.city</option>*@
                                                                    <option value="7">@WatanART.Localization.Resource.user</option>

                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <a class="btn btn-success btn-icon  btn-lg" onclick="addfilter();"><i class="fa fa-plus"></i></a>

                                                            </div>
                                                        </div>
                                                        @*<div class="row filter">
                                                            <div class="col-md-6" id="filterdiv1" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="reportrangearr">@WatanART.Localization.Resource.from</label>
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                            <input type="text" class="form-control datepicker5" id="datefrom">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(1);"><i class="fa fa-times"></i></a></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" id="filterdiv2" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="reportrangedep">@WatanART.Localization.Resource.to</label>
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                            <input type="text" class="form-control datepicker5" id="dateto">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(2);"><i class="fa fa-times"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                        @*<div class="row filter">
                                                            <div class="col-md-6" id="filterdiv3" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">@WatanART.Localization.Resource.Type</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control col-md-6 SELECT2" name="Type" id="Type">
                                                                            <option value="0">---@WatanART.Localization.Resource.Selectall---</option>
                                                                            @if (ViewBag.type != null)
                                                                            {
                                                                                foreach (var item in ViewBag.type as IEnumerable<WatanART.BLL.ViewModels.PatternVM>)
                                                                                {
                                                                                    <option value="@item.ID">@item.PatternText</option>
                                                                                }
                                                                            }
                                                                          
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(3);"><i class="fa fa-times"></i></a></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" id="filterdiv4" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"> @WatanART.Localization.Resource.state</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control col-md-6 SELECT2" name="state" id="state">
                                                                            <option value="0">---@WatanART.Localization.Resource.Selectall---</option>
                                                                            @if (ViewBag.state != null)
                                                                            {
                                                                                foreach (var item in ViewBag.state as IEnumerable<WatanART.BLL.ViewModels.TypeVM>)
                                                                                {
                                                                                    <option value="@item.Value">@item.Title</option>
                                                                                }
                                                                            }
                                                                          
                                                                        </select>

                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(4);"><i class="fa fa-times"></i></a></div>
                                                                </div>

                                                            </div>
                                                        </div>*@
                                                        <div class="row filter">
                                                            <div class="col-md-6" id="filterdiv5" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="reportrangearr">@WatanART.Localization.Resource.country</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control col-md-6 SELECT2" name="country" id="country">
                                                                            <option value="0">---@WatanART.Localization.Resource.Selectall---</option>
                                                                            @if (ViewBag.coutry != null)
                                                                            {
                                                                                foreach (var item in ViewBag.coutry as IEnumerable<WatanART.BLL.ViewModels.CountryCities>)
                                                                                {
                                                                                    <option value="@item.CountryObj.ID">@item.CountryObj.Title</option>
                                                                                }
                                                                            }
                                                                            @*<option value="3">@Resource.Cancelled</option>*@
                                                                        </select>
                                                                    </div>
                                                                    @*<div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(5);"><i class="fa fa-times"></i></a></div>*@
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6" id="filterdiv6" hidden="hidden">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4 ">@WatanART.Localization.Resource.city</label>
                                                                    <div class="col-md-6">
                                                                        <select class="form-control col-md-6 SELECT2" name="city" id="city"></select>
                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon btn-circle" onclick="clearonefilter(6);"><i class="fa fa-times"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row filter">
                                                            <div class="col-md-6" id="filterdiv7" hidden="hidden">
                                                                @*@{ List<Ekad.CentralReservation.BLL.ViewModels.BookingStatusVM> BookingStatusList =
                                                                    new Ekad.CentralReservation.BLL.Repository.BookingRepository().Get_BookingStatus();}*@
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4" for="reportrangearr">@WatanART.Localization.Resource.user</label>
                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            <input type="text" name="UserName" id="UserName" value="" />
                                                                            @*<select class="form-control col-md-6 SELECT2" name="users" id="users">
                                                                                <option value="">---@WatanART.Localization.Resource.Selectall---</option>
                                                                                @foreach (var item in ViewBag.users as IEnumerable<WatanART.BLL.ViewModels.UserObjVM>)
                                                                                {
                                                                                    <option value="@item.UserID">@item.FullName</option>
                                                                                }
                                                                            </select>*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2"><a class="btn btn-danger btn-icon " onclick="clearonefilter(7);"><i class="fa fa-times"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-md-3"></div>
                                                            <div class="col-md-3">
                                                                <input type="button" value="Filter" class="btn btn-lg green" onclick="filllist();" />
                                                                <input type="button" value="RemoveAll" class="btn btn-lg red" onclick="cleardata();" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="btn-group">
                                                @*<button id="sample_editable_1_new" class="btn sbold green">
                                                    Add New*@


                                                @*</button>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                                    Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right" id="sample_3_tools">
                                                    <li>
                                                        <a href="javascript:;" data-action="0" class="tool-action">
                                                            <i class="icon-printer"></i> Print
                                                        </a>
                                                    </li>
                                                    @*<li>
                                                        <a href="javascript:;" data-action="1" class="tool-action">
                                                            <i class="icon-check"></i> Copy
                                                        </a>
                                                    </li>*@
                                                    <li>
                                                        <a href="javascript:;" data-action="2" class="tool-action">
                                                            <i class="icon-doc"></i> PDF
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-action="3" class="tool-action">
                                                            <i class="icon-paper-clip"></i> Excel
                                                        </a>
                                                    </li>
                                                    @*<li>
                                                        <a href="javascript:;" data-action="4" class="tool-action">
                                                            <i class="icon-cloud-upload"></i> CSV
                                                        </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;" data-action="5" class="tool-action">
                                                            <i class="icon-refresh"></i> Reload
                                                        </a>
                                                    </li>*@

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered table-hover table-checkable order-column  responsive" id="tbl">
                                    <thead>
                                        <tr>
                                            <th>@WatanART.Localization.Resource.ID</th>
                                            <th>@WatanART.Localization.Resource.user</th>

                                            <th>@WatanART.Localization.Resource.EMail</th>
                                            <th>@WatanART.Localization.Resource.PhoneNumber</th>
                                            <th>@WatanART.Localization.Resource.country</th>
                                            <th>@WatanART.Localization.Resource.city</th>

                                            <th>@WatanART.Localization.Resource.IsActive</th>

                                            <th>@WatanART.Localization.Resource.Update</th>



                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END EXAMPLE TABLE PORTLET-->
                    </div>

                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>

<div>
    <div class="modal fade" id="divItemPopup" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" id="close_btn custom-close">&times;</button>*@
                    <h3 class="modal-title">@WatanART.Localization.Resource.Update</h3>
                </div>
                <div class="modal-body text-center" id="divItemPopupContent">



                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Areas/Admin/Js/select2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        DrawTable();
        $('.datepicker5').datepicker({

            dateFormat: 'MM dd yy'

        });

        $(".SELECT2").select2();


        $('#country').on('change', function () {
            var contryid= $(this).find(":selected").val();
            setCityList(contryid)
        });


        function setCityList(id) {
            if (id != '' && id != null && id > 0) {
                debugger
                var selected = id;
                cat = id;
                // alert(selected);
                //$("#CatograyID").val(selected);
                var href2 = '@Url.Action("cityList", "Users")';
                $.ajax({
                    url: href2,
                    data: { ID: id },
                    cache: false,
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',

                    success: function (data) {
                        $('#city').empty();
                        $("#city").val(0);

                        // $('#Citylist').append('<option selected disabled>Select</option>');
                        if (data != null) {

                            for (var x = 0; x < data.length; x++) {

                                @*if ('@Helpers.CultureHelper.IsRighToLeft()') {*@
                                $('#city').append('<option value="' + data[x].ID + '">' + data[x].Title + '</option>');
                                    //} else {
                                    //    $('#city').append('<option value="' + data[x].CityID + '">' + data[x].NameEn + '</option>');
                                    //}
                                    //$('#DirectManagerID option').eq(1).attr('selected', 'selected');

                                }
                            }

                        $('#city').trigger('change');

                        },
                        error: function (reponse) {
                            $('#city').empty();
                            $("#city").val(0);
                            $('#city').trigger('change');
                            $('#city').append('<option selected disabled>Select</option>');
                        }
                    });


            }

        }
      
    });

    @*function displayPartial(thisobj) {
        debugger;
        var userid = $(thisobj).parent().find('input[type=hidden]').val();
        $("#divItemPopupContent").load("@Url.Action("GetUser", "Users")", { 'Userid': userid }).ajaxSuccess();
    $("#divItemPopup").modal('show');
    }*@


    //$('#divItemPopup').on('hidden.bs.modal', function () {
    //    debugger;
    //    hide_Loader();
    //})

   
    //$('#divItemPopup').on('hidden', function () {
    //    alert('hidden event fired!');
    //})


        @*function displayPartial2(ID) {
            debugger;
            $("#responsiveupdatecontent2").load("@Url.Action("Bokkingdetailspatial", "reservation")", { 'id': ID }).ajaxSuccess();
        $("#responsiveupdate2").modal('show');
        }*@

    //$(function () {
    //    $(".custom-close").on('click', function () {
    //        $('#myModal').modal('hide');
    //    });
    //});

        function DrawTable() {

            $("#tbl").dataTable().fnDestroy();
            var e = $("#tbl");
            e.dataTable({
                "sAjaxSource": "/admin/Users/GetList",
                "fnServerParams": function (aoData) {
                    aoData.push(

                        { "name": "Name", "value": $("#UserName").val() },
                        { "name": "country", "value": $("#country").val() },
                        { "name": "city", "value": $("#city").val() }

                        );
                },
                "bProcessing": true,
                "autoWidth": true,
                "bServerSide": true,
                "bFilter": false,
                language: {
                    aria: {
                        sortAscending: ": activate to sort column ascending",
                        sortDescending: ": activate to sort column descending"
                    },
                    emptyTable: "No data available in table",
                    info: "Showing _START_ to _END_ of _TOTAL_ records",
                    infoEmpty: "No records found",
                    infoFiltered: "(filtered1 from _MAX_ total records)",
                    lengthMenu: "Show _MENU_",
                    //search: "Search:",
                    zeroRecords: "No matching records found",
                    paginate: {
                        previous: "Prev",
                        next: "Next",
                        last: "Last",
                        first: "First"
                    }
                },
                responsive: {
                    details: {
                    }
                },
                buttons: [
                 { extend: 'print', className: 'btn dark btn-outline' },
                 { extend: 'copy', className: 'btn red btn-outline' },
                 { extend: 'pdf', className: 'btn green btn-outline' },
                 { extend: 'excel', className: 'btn yellow btn-outline ' },
                 { extend: 'csv', className: 'btn purple btn-outline ' },

                ],
                //bStateSave: !0,
                lengthMenu: [
                    [5, 10, 15, 20, 500000],
                    [5, 10, 15, 20, "All"]
                ],
                pageLength: 5,
                pagingType: "full_numbers",
                columnDefs: [{
                    orderable: !0,
                    targets: [0]
                }
                , {
                    searchable: !1,
                    targets: [0]
                }
                , {
                    className: "dt-right"
                }],
                order: [
                    [0, "desc"]
                ]
            });
            jQuery("#sample_1_wrapper");
            $('#sample_3_tools > li > a.tool-action').on('click', function () {
                var action = $(this).attr('data-action');
                e.DataTable().button(action).trigger();
            });
            e.find(".group-checkable").change(function () {
                var e = jQuery(this).attr("data-set"),
                    t = jQuery(this).is(":checked");
                jQuery(e).each(function () {
                    t ? ($(this).prop("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).parents("tr").removeClass("active"))
                })
            }), e.on("change", "tbody tr .checkboxes", function () {
                $(this).parents("tr").toggleClass("active")
            })

            hide_Loader();
        }
</script>
<script type="text/javascript" charset="utf-8">

        function addfilter() {
            var filterrtypeddl = $("#filterrtypeddl").val();
            if (filterrtypeddl != 0) {
                if (filterrtypeddl == 5) {
                    $("#filterdiv5").show();
                    $("#filterdiv6").show();
                } else {
                    $("#filterdiv" + filterrtypeddl).show();
                }
            }
        }
        function clearonefilter(id) {
            $("#filterdiv" + id).hide();
            if (id == 1) {
                $("#datefrom").val("");

            }
            else if (id == 2) {
                $("#dateto").val("");

            }
            else if (id == 3) {
                $("#Type").val(0);
            }
            else if (id == 4) {
                $("#state").val("");
            }
            else if (id == 5) {
                $("#country").val(0);

            }
            else if (id == 6) {
                $("#filterdiv5").hide();
                $("#filterdiv6").hide();
                $('#city').empty();
                $("#city").val(0).trigger('change');;
                $("#country").val(0).trigger('change');
               

               
            }
            else if (id == 7) {
                $("#UserName").val(0);
            }
            $("#filterrtypeddl").val(0);
            filllist();
        }


        function cleardata() {

            //$("#datefrom").val("");
            //$("#dateto").val("");
            //$("#type").val(0);
            //$("#state").val(0);
            $("[id^=filterdiv]").hide();
           
            $('#city').empty();
            $("#city").val(0).trigger('change');;
            $("#country").val(0).trigger('change');;
           
           
            $("#UserName").val("");
            $("#filterrtypeddl").val(0);
            filllist();
        }

        function filllist() {
            DrawTable();
        }


        function ActiveDective(thisObj) {
            debugger
            //var dataadd = { ID: ID };
            var userid = $(thisObj).parent().find('input[type=hidden]').val();
            var url = "/admin/Users/UpdateState";
            bootbox.confirm("@WatanART.Localization.Resource.ChangeStatusMessageConfirmation", function (result) {
                debugger;
                if (result) {
                    $.ajax({
                        Type: "GET",
                        url: url,
                        data: { 'UserId': userid },
                        success: function (data) {

                            if (data == 'Success') {
                                ViewMessagePopup('@WatanART.Localization.Resource.RecordChangeduccessfully');
                            }
                            else if (data == 'Error') {
                                ViewMessagePopup('@WatanART.Localization.Resource.ErrorOccurred');
                            }
                        }
                    });
                } else {

                }

            });
        }

        @*function ActiveDective(ID, control) {
            
            var data = { 'UserId': ID };
            var url = "/Users/UpdateState";
            General_ActiveDective(ID, control, data, url, "@WatanART.Localization.Resource.ChangeStatusMessageConfirmation", "@WatanART.Localization.Resource.RecordChangeduccessfully", "@WatanART.Localization.Resource.ErrorOccurred");


        }*@

       

    

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}