
@model  WatanART.BLL.ViewModels.AlbumVM
@{if (Model.AlbumID > 0)
    { ViewBag.Title = WatanART.Localization.Resource.MenuEditAlbum; }
    else
    { ViewBag.Title = WatanART.Localization.Resource.MenuAddAlbum; }
     Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li><a href="@Url.Action("Albums")">@WatanART.Localization.Resource.MenuAlbums</a></li>
        <li>@ViewBag.Title</li>
    </ol>
</div>
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title </h2>

                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            @*<form id="smart-form-register" class="smart-form">*@
                            @using (Html.BeginForm("EditAlbum", "Galleries", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "AlbumForm"
                            }))
                            {
                                @Html.AntiForgeryToken()

                                <fieldset>
                                    @Html.HiddenFor(model => model.AlbumID, new { htmlAttributes = new { @class = "form-control" } })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.AlbumNameAR, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.AlbumNameAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.AlbumNameAR
                                       })

                                            @Html.ValidationMessageFor(model => model.AlbumNameAR, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.AlbumNameEN, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.AlbumNameEN, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.AlbumNameEN
                                       })

                                            @Html.ValidationMessageFor(model => model.AlbumNameEN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.AlbumDescriptionAR, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextAreaFor(m => m.AlbumDescriptionAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           placeholder = @WatanART.Localization.Resource.AlbumDescriptionAR
                                       })
                                            @Html.ValidationMessageFor(model => model.AlbumDescriptionAR, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.AlbumDescriptionEN, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextAreaFor(m => m.AlbumDescriptionEN, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           placeholder = @WatanART.Localization.Resource.AlbumDescriptionEN
                                       })
                                            @Html.ValidationMessageFor(model => model.AlbumDescriptionEN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.Partial("ImageControlPV", "" + Model.AlbumImage + "", new ViewDataDictionary(this.ViewData) {  { "ID", "AlbumImage" } })


                                    <div class="form-group">
                                        @Html.LabelFor(m => m.IsActive, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    @*<input type="checkbox" id="IsActive" name="IsActive" class="checkbox style-0" checked="checked">*@
                                                    @Html.CheckBoxFor(model => model.IsActive, new
                                               {
                                                   htmlAttributes = new
                                                   {
                                                       @class = "checkbox style-1",
                                                       @checked = "checked"
                                                   }
                                               })
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    


   
    $(document).on('submit', '#AlbumForm', function (e) {
        $('#AlbumForm').bootstrapValidator();
        e.defaultPrevented();
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
