@model IEnumerable<WatanART.BLL.ViewModels.EventVM>

@{
    var Pageobj = ViewBag.PageObj as WatanART.BLL.ViewModels.PaggingVM;
    Pageobj = Pageobj == null ? new WatanART.BLL.ViewModels.PaggingVM() { CurrentPage = 1, TotalPages = 1 } : Pageobj;

    Pageobj.AjaxMetod = "ReloadTable(this)";
}
@if (Model != null && Model.Count() > 0)
{
<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr class="header">
            <th class="hasinput" width="5%">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.ID" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.EventNameAR">
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.EventNameEN" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.EventStartDate" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.EventEndDate" />
            </th>
            <th class="hasinput">
            </th>
            <th class="hasinput">
            </th>
            <th class="hasinput">
            </th>
        </tr>
        <tr class="header">
            <th data-class="expand">@Html.DisplayNameFor(model => model.EventID)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.EventNameAR)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.EventNameEN)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.EventStartDate)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.EventEndDate)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.EventImage)</th>
            <th data-hide="phone">@WatanART.Localization.Resource.Operations</th>
            <th data-hide="phone">@WatanART.Localization.Resource.Activate</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EventID)</td>
                <td>@Html.DisplayFor(modelItem => item.EventNameAR)</td>
                <td>@Html.DisplayFor(modelItem => item.EventNameEN)</td>
                <td>@Html.DisplayFor(modelItem => item.EventStartDate_Str)</td>
                <td>@Html.DisplayFor(modelItem => item.EventEndDate_Str)</td>
                <td>
                    @Html.Partial("ImageDisplayPV", item.EventImage + "")
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.EventID})" class="btn btn-labeled btn-success"> <span class="btn-label"><i class="fa fa-edit"></i></span>@WatanART.Localization.Resource.Edit </a>
                    <a href="javascript:void(0);" onclick="DeleteItem(@item.EventID,this);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i class="fa fa-trash-o"></i></span>@WatanART.Localization.Resource.Delete </a>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @onchange = "ActiveDective(" + @item.EventID + ",this)" })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("LazyPaggingPV")
}
else
{
<div> @WatanART.Localization.Resource.NoDataFound </div>
}