@using WatanART.BLL.ViewModels

    <div class="pagingDiv" id="pagingDiv">
        @{
            var Pageobj = ViewBag.PageObj as PaggingVM;

            Pageobj = Pageobj == null ? new PaggingVM() { CurrentPage = 1, TotalPages = 1 } : Pageobj;
            var page_count = Pageobj.TotalPages;
            var PageNumber = Pageobj.CurrentPage;

            var pageRowCounts = Pageobj.RowsPerPage;
            var totalRows = page_count * pageRowCounts;

        }
        @if (PageNumber < page_count)
        {
            <a href="javascript:void(0)" onclick="Next(this);@Pageobj.AjaxMetod;" id="tbl_Next" class="btn btn-labeled btn-success"> @WatanART.Localization.Resource.LoadMoreOf  <label id="TotalRows"> @Pageobj.TotalRows</label> @Html.Raw(WatanART.Localization.Resource.Records) </a>
        }
         <input type="hidden" id="CurrentPage" value="@PageNumber" name="CurrentPage" />
        <input type="hidden" id="page_count" value="@page_count" name="page_count" />

    </div>
    <script>

        function Next(e) {
            var elem = $(e).parent().find('#CurrentPage')
            var currentpage = elem.attr('value');// $('#CurrentPage').val();

            currentpage++;
            elem.val(currentpage);
        }

        function Prev(e) {
            var elem = $(e).parent().find('#CurrentPage')
            var currentpage = elem.attr('value');// $('#CurrentPage').val();

            currentpage--;
            elem.val(currentpage);
        }
    </script>
