@model  WatanART.BLL.ViewModels.ManagerWordVM
@{
    ViewBag.Title = WatanART.Localization.Resource.MenuManagerWord;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li>@WatanART.Localization.Resource.MenuManagerWord</li>
    </ol>
</div>
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@WatanART.Localization.Resource.MenuManagerWord </h2>

                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            @*<form id="smart-form-register" class="smart-form">*@
                            @using (Html.BeginForm("Index", "ManagerWord", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "ManagerWordForm"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.HiddenFor(model => model.ContentID, new { htmlAttributes = new { @class = "form-control" } })

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.MangerNameAR, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.MangerNameAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "75",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_75,
                                           placeholder = @WatanART.Localization.Resource.AddressAR
                                       })

                                            @Html.ValidationMessageFor(model => model.MangerNameAR, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.MangerNameEN, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.MangerNameEN, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "75",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_75,
                                           placeholder = @WatanART.Localization.Resource.AddressEN
                                       })

                                            @Html.ValidationMessageFor(model => model.MangerNameEN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ManagerWordAR, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextAreaFor(m => m.ManagerWordAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "500",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_500,
                                           placeholder = @WatanART.Localization.Resource.ManagerWordAR
                                       })

                                            @Html.ValidationMessageFor(model => model.ManagerWordAR, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(m => m.ManagerWordEN, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextAreaFor(m => m.ManagerWordEN, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "500",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_500,
                                           placeholder = @WatanART.Localization.Resource.ManagerWordEN
                                       })
                                            @Html.ValidationMessageFor(model => model.ManagerWordEN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @Html.Partial("ImageControlPV", "" + Model.ManagerPhoto + "", new ViewDataDictionary(this.ViewData) { { "ID", "ManagerPhoto" } })


                                </fieldset>


                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

   

    $(document).on('submit', '#ManagerWordForm', function (e) {
        $('#ManagerWordForm').bootstrapValidator();
        e.defaultPrevented();
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



