@model WatanART.BLL.ViewModels.ProductVM

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}


<link href="~/Areas/Admin/Js/select2-bootstrap.css" rel="stylesheet" />
<link href="~/Areas/Admin/Js/select2.css" rel="stylesheet" />


<body onload="setinitialdata(@Model.Cat_ID);" id="Body1">

    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
            <li><a href="@Url.Action("Index")">@WatanART.Localization.Resource.ProductList</a></li>
            <li>@WatanART.Localization.Resource.Update</li>
        </ol>
    </div>
    <div id="content">
        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- START ROW -->
            <div class="row">
                <!-- NEW COL START -->
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>@WatanART.Localization.Resource.Update </h2>

                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">
                                @*<form id="smart-form-register" class="smart-form">*@
                                @using (Html.BeginForm("Update", "Product", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "frmForm"
                            }))
                            {
                            @*<input type="hidden" id="ModuleID" name="ModuleID" value="@Model.ModuleID" class="formdata" />
                                <input type="hidden" id="ModuleCatID" name="ModuleCatID" value="@Model.ModuleCatID" class="formdata" />*@

                            <input type="hidden" id="Prod_ID" name="Prod_ID" value="@Model.Prod_ID" class="formdata" />
                            <input type="hidden" id="Cat_ID" name="Cat_ID" value="@Model.Cat_ID" class="formdata" />

                            <fieldset>




                                <div class="form-group">



                                    @Html.Label(WatanART.Localization.Resource.NameAr, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-4">
                                        @Html.TextBoxFor(m => m.Prod_NameAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.NameAr
                                       })

                                        @Html.ValidationMessageFor(model => model.Prod_NameAR, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.Label(WatanART.Localization.Resource.NameEn, new { @class = "col-lg-2 control-label" })
                                    <div class="col-lg-4">
                                        @Html.TextBoxFor(m => m.Prod_NameEN, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.NameEn
                                       })

                                        @Html.ValidationMessageFor(model => model.Prod_NameEN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">


                                    @Html.Label(WatanART.Localization.Resource.Localprice, new { @class = "col-lg-2 control-label", @type = "number" })
                                    <div class="col-lg-4">
                                        @Html.TextBoxFor(m => m.Price, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           //pattern = @"^[1-9][0-9]?$|^100$",
                                           data_bv_regexp_message = @WatanART.Localization.Resource.NumericOnly,


                                           placeholder = @WatanART.Localization.Resource.Localprice
                                       })

                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>


                                    @Html.Label(WatanART.Localization.Resource.Worldprice, new { @class = "col-lg-2 control-label", @type = "number" })
                                    <div class="col-lg-4">
                                        @Html.TextBoxFor(m => m.OutPrice, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           //pattern = @"^[1-9][0-9]?$|^100$",
                                           data_bv_regexp_message = @WatanART.Localization.Resource.NumericOnly,


                                           placeholder = @WatanART.Localization.Resource.Worldprice
                                       })

                                        @Html.ValidationMessageFor(model => model.OutPrice, "", new { @class = "text-danger" })
                                    </div>


                                </div>

                                @*  <div id="divPartialViewContainer">*@


                                @Html.Action("GetPartialview", new { Cat_ID = Model.Cat_ID })



                                @*</div>*@




                                <div  id="div_type" name="div_type" style="display:none;visibility:hidden;">




                                    <div class="col-lg-2 control-label">
                                        @WatanART.Localization.Resource.Type
                                    </div>
                                    <div class="col-lg-6">


                                        <select id="Type" name="Type" style="width:100%" class="form-control  select2" data-select-search="true">
                                            @if (Model.Type == "1")
                                            {
                                                <option value="1" selected>@WatanART.Localization.Resource.Mobile</option>
                                                <option value="2">@WatanART.Localization.Resource.Tablet</option>
                                            }
                                            else
                                            if (Model.Type == "2")
                                            {
                                                <option value="1">@WatanART.Localization.Resource.Mobile</option>
                                                <option value="2" selected>@WatanART.Localization.Resource.Tablet</option>
                                            }
                                        </select>



                                    </div>

                                </div>




                             
                                
                                <div id="t" name="t" style="display:none;">

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse1"> @WatanART.Localization.Resource.color</a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse">
                                                <table id="Table1" class="table" width="100%">
                                                    <tr>
                                                        <th><input type='checkbox' name='showhide' onchange="checkAll(this)" /></th>
                                                        <th>@WatanART.Localization.Resource.color</th>
                                                        <th>@WatanART.Localization.Resource.Value</th>
                                                        <th>@WatanART.Localization.Resource.Frontimg</th>
                                                        <th>@WatanART.Localization.Resource.Backimg</th>
                                                    </tr>
                                                    @if (ViewBag.Color != null)
                                                    {
                                                        foreach (var item in ViewBag.Color as IEnumerable<WatanART.BLL.ViewModels.ColorVM>)

                                                        {
                                                            if (item.flag == 1)
                                                            {
                                                                <tr>
                                                                    <td><input type="checkbox" id="ch_color_@item.ID" name="check" checked /></td>
                                                                    <td>@item.Value</td>
                                                                    <td><div style="background-color:#@item.Value">&nbsp;	</div>
                                                                    <td>
                                                                        <input id="File_img1_@item.ID" type="file" onchange="Saveimg('File_img1_@item.ID')" accept=".png" />
                                                                        <img src="~/UploadedImages/@item.Img1" id="img1_@item.ID" style="width:100px;height:100px;"/>
                                                                    </td>
                                                                    <td>
                                                                        <input id="File_img2_@item.ID" type="file" onchange="Saveimg('File_img2_@item.ID')" accept=".png" />
                                                                        <img src="~/UploadedImages/@item.Img2" id="img2_@item.ID" style="width:100px;height:100px;" />
                                                                    </td>
                                                                </tr>
                                                            }
                                                            else
                                                            {

                                                                <tr>
                                                                    <td><input type="checkbox" id="ch_color_@item.ID" name="check" /></td>
                                                                    <td>@item.Value</td>
                                                                    <td><div style="background-color:#@item.Value">&nbsp;	</div>
                                                                    <td>
                                                                        <input id="File_img1_@item.ID" type="file" onchange="Saveimg('File_img1_@item.ID')" accept=".png" />
                                                                        <img src="" id="img1_@item.ID" />
                                                                    </td>
                                                                    <td>
                                                                        <input id="File_img2_@item.ID" type="file" onchange="Saveimg('File_img2_@item.ID')" accept=".png" />
                                                                        <img src="" id="img2_@item.ID" />
                                                                    </td>
                                                                </tr>
                                                            }

                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse2"> @WatanART.Localization.Resource.Styles</a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <table id="Table2" class="table" width="100%">
                                                    <tr>
                                                        <th><input type='checkbox' name='showhide' onchange="checkAll2(this)" /></th>

                                                        <th>@WatanART.Localization.Resource.Styles</th>

                                                    </tr>
                                                    @if (ViewBag.Style != null)
                                                    {
                                                        foreach (var item in ViewBag.Style as IEnumerable<WatanART.BLL.ViewModels.GeneralData>)

                                                        {
                                                            <tr>
                                                                @if (item.flag == 1)
                                                                {
                                                                    <td><input type="checkbox" id="ch_style_@item.ID" name="check2" checked /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input type="checkbox" id="ch_style_@item.ID" name="check2" /></td>

                                                                }
                                                                <td> <img src='~/UploadedImages/@item.Value' style="width:100px;height:100px" /></td>

                                                            </tr>

                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel-group">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#collapse3"> @WatanART.Localization.Resource.Size</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <table id="Table3" class="table" width="100%">
                                                    <tr>
                                                        <th><input type='checkbox' name='showhide' onchange="checkAll3(this)" /></th>

                                                        <th>@WatanART.Localization.Resource.Size</th>

                                                    </tr>
                                                    @if (ViewBag.Size != null)
                                                    {
                                                        foreach (var item in ViewBag.Size as IEnumerable<WatanART.BLL.ViewModels.GeneralData>)

                                                        {
                                                            <tr>
                                                                @if (item.flag == 1)
                                                                {
                                                                    <td><input type="checkbox" id="ch_size_@item.ID" name="check3" checked /></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><input type="checkbox" id="ch_size_@item.ID" name="check3" /></td>


                                                                }
                                                                <td> @item.Value</td>

                                                            </tr>

                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                @Html.Partial("ImageControlJSpng", (Model.Prod_image == null ? "" : Model.Prod_image.ToString()), new ViewDataDictionary(this.ViewData) { { "ID", "Image" } })













                            </fieldset>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" onclick="Submit();" class="btn btn-primary" id="btnSubmit">
                                            <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                        </button>

                                    </div>
                                </div>
                            </div>
                            }
                                @*</form>*@

                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->
                </article>
                <!-- END COL -->
            </div>
            <!-- END ROW -->
        </section>
        <!-- end widget grid -->
    </div>

    </body>

    <script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    //$(document).ready(function () {


    //    $(".SELECT2").select2();

    //});
        function setinitialdata(cat_id) {
           
            var x = document.getElementById("div_type");
            var t = document.getElementById("t");
            
            document.getElementById("div_img").style.display = "block";
            if (cat_id == "13" | cat_id == "14" | cat_id == "15")
            {
                t.style.display = "block";
                  
            }
            
            if (cat_id!="6" & cat_id !="7") 
            {
                x.style.display = "none";
                if (cat_id == "9" || cat_id == "11") {
                    $("#Prod_NameAR").prop("readonly", true);
                    $("#Prod_NameEN").prop("readonly", true);
                    document.getElementById("div_img").style.display = "none";
                    

                }
            }
            else if (cat_id =="6" | cat_id =="7")
            {
                x.style.display = "block";
                x.style.visibility = "visible";
            }
        }
    function Submit() {
        $('#frmForm').bootstrapValidator('validate');

        if ($('#frmForm').has('.has-error').length === 0) {
            submitInsert();
        } else {
            // alert("notvalid");
        }

    }




    function submitInsert() {
        debugger;



        var NameAR = $("#Prod_NameAR").val();
        var NameEN = $("#Prod_NameEN").val();
        var Price = $("#Price").val();
        var OutPrice = $("#OutPrice").val();
        var Prod_ID=$("#Prod_ID").val();
        var Cat_ID = $("#Cat_ID").val();
        var Prod_image = $("#hid_Image").val();
        var Type = $("#Type option:selected").val();

      var c = document.getElementById("Prop_count").value;

        var count = parseInt(c.toString());
         var prop_data = "";
         var colorids = "";
        var styleids = "";
        var sizeids = "";
          var Cat_ID = document.getElementById("Cat_ID").value;

        if (Cat_ID == "13" || Cat_ID== "14" || Cat_ID == "15") {


            for (var x = 1; x < count; x++) {
                //var ch = document.getElementById("ch_"+x.toString()).value;
                //if (ch=="on") {
                var Prop_ID = document.getElementById("Prop_" + x.toString()).value;

                var multidrop = document.getElementById("Prop_Data_" + x.toString());

                for (var y = 0; y < multidrop.options.length; y++) {
                    if (multidrop.options[y].selected == true) {
                        // alert(multidrop.options[y].value);
                        prop_data += Prop_ID + "&" + multidrop.options[y].value + ",";
                    }
                }
                //}

            }

            var grid = document.getElementById("Table1");
            var checkBoxesColors = grid.getElementsByTagName("INPUT");

            for (var i = 0; i < checkBoxesColors.length; i++) {
                if (checkBoxesColors[i].checked) {

                    var id = checkBoxesColors[i].id;
                    var img1 = document.getElementById(id.replace('ch_color_', 'img1_')).src;
                    var img2 = document.getElementById(id.replace('ch_color_', 'img2_')).src;
                    colorids = colorids + id.replace('ch_color_', '') + ",," + img1 + ",," + img2 + "$$";
                    
                }
            }

            var grid2 = document.getElementById("Table2");
            var checkBoxesStyle = grid2.getElementsByTagName("INPUT");

            for (var i = 0; i < checkBoxesStyle.length; i++) {
                if (checkBoxesStyle[i].checked) {
                    var id = checkBoxesStyle[i].id;
                    styleids = styleids + id.replace('ch_style_', '') + ",";
                }
            }

            var grid3 = document.getElementById("Table3");
            var checkBoxesSize = grid3.getElementsByTagName("INPUT");

            for (var i = 0; i < checkBoxesSize.length; i++) {
                if (checkBoxesSize[i].checked) {
                    var id = checkBoxesSize[i].id;
                    sizeids = sizeids + id.replace('ch_size_', '') + ",";
                }
            }


        }

        var prop_data = "";

        for (var x = 1; x < count; x++) {
            //var ch = document.getElementById("ch_"+x.toString()).value;
            //if (ch=="on") {
                var Prop_ID = document.getElementById("Prop_"+x.toString()).value;

                var multidrop = document.getElementById("Prop_Data_"+x.toString());

                for (var y = 0; y < multidrop.options.length; y++) {
                    if(multidrop.options[y].selected ==true){
                       // alert(multidrop.options[y].value);
                        prop_data +=Prop_ID+"&"+multidrop.options[y].value+",";
                    }
                }
            //}

        }


        var url = '@Url.Action("Updateajax", "Product")';
        $.ajax({
            url: url,
            data: {
                Prod_ID: Prod_ID, Prod_NameAR: NameAR, Prod_NameEN: NameEN, Cat_ID: Cat_ID, Prod_image: Prod_image, prop_data: prop_data, Price: Price, OutPrice: OutPrice, Type: Type
                , color_Data: colorids, style_Data: styleids, Size_Data: sizeids
                        },


            cache: false,
            type: "POST",
            success: function (data) {

                var dataRes = data;
                if (dataRes > 0) {


                    swal({
                        text: "@WatanART.Localization.Resource.DataSavedSuccessfully ",
                        //timer: 5000
                    }).then(
                       function () {
                           if (Cat_ID != "9" && Cat_ID != "11") {
    
                         
                           var href = "/Admin/Product/Products?Cat_ID=" + Cat_ID;
                           window.location.href = href;
                           }
                       })


                } else {
                    swal("@WatanART.Localization.Resource.ErrorOccurred");
                }


            }
        });


    }








    </script>

    <script>


    $('#categoryParent').on('change', function () {

        var Parentid= $(this).find(":selected").val();

        setSubCat(Parentid);
    });


    function setSubCat(id) {

        if (id != '' && id != null && id > 0) {
            debugger
            var selected = id;
            Parent = id;

            var href2 = '@Url.Action("SubList", "Product")';
            $.ajax({
                url: href2,
                data: { Parent: id },
                cache: false,
                type: "GET",
                contentType: 'application/json; charset=utf-8',

                success: function (data) {
                    $('#categorysub').empty();
                    $("#categorysub").val(0);

                    $("#div_sub").show();
                    if (data != null) {

                        for (var x = 0; x < data.length; x++) {


                            $('#categorysub').append('<option value="' + data[x].Cat_ID + '">' + data[x].Name + '</option>');


                        }

                    }

                    $('#categorysub').trigger('change');

                },
                error: function (reponse) {
                    $('#categorysub').empty();
                    $("#categorysub").val(0);
                    $('#categorysub').trigger('change');
                    $('#categorysub').append('<option selected disabled>Select</option>');
                }
            });


        }

    }

 function checkAll(e)
    {
   var checkboxes = document.getElementsByName('check');
 
   if (e.checked) {
     for (var i = 0; i < checkboxes.length; i++) { 
       checkboxes[i].checked = true;
     }
   } else {
     for (var i = 0; i < checkboxes.length; i++) {
       checkboxes[i].checked = false;
     }
   }
    }
    function checkAll2(e)
    {
   var checkboxes = document.getElementsByName('check2');
 
   if (e.checked) {
     for (var i = 0; i < checkboxes.length; i++) { 
       checkboxes[i].checked = true;
     }
   } else {
     for (var i = 0; i < checkboxes.length; i++) {
       checkboxes[i].checked = false;
     }
   }
    }
      function checkAll3(e)
    {
   var checkboxes = document.getElementsByName('check3');
 
   if (e.checked) {
     for (var i = 0; i < checkboxes.length; i++) { 
       checkboxes[i].checked = true;
     }
   } else {
     for (var i = 0; i < checkboxes.length; i++) {
       checkboxes[i].checked = false;
     }
   }
 }

          function Saveimg(id) {
              debugger
               var formData = new FormData();
         var image = document.getElementById(id).value;
         
              if (image == ""||  image=="") {
                  
              }
              else {
                  var file = document.getElementById(id).files[0];

                  
                    formData.append("Attachment", file);
                  var AjaxOptions = {
                      type: "post",
                      url: "/Admin/Product/SaveAttachment",
                      data: formData,
                      processData: false,
                      contentType: false,
                      success: function (result) {
                          debugger
                          var imgid = id.replace("File_", "");
                          $("#" + imgid).attr('src', "/UploadedImages/" + result[1]);
                          document.getElementById(imgid).width = "100";
                             document.getElementById(imgid).height = "100";
                              document.getElementById(id).value = "";
                          
          
          
                      },
                      error: function () {

                      }
                  }
                  $.ajax(AjaxOptions);
                  debugger
                  return false;
              }


    }
           function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }






