@model WatanART.BLL.ViewModels.ProductVM

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 1;
}


<link href="~/Areas/Admin/Js/select2-bootstrap.css" rel="stylesheet" />
<link href="~/Areas/Admin/Js/select2.css" rel="stylesheet" />
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li><a href="@Url.Action("Index")">@WatanART.Localization.Resource.ProductList</a></li>
        <li>@WatanART.Localization.Resource.Add</li>
    </ol>
</div>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@WatanART.Localization.Resource.Add </h2>

                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<form id="smart-form-register" class="smart-form">*@
                            @using (Html.BeginForm("Add", "Product", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "frmForm"
                            }))
                            {
                                @*<input type="hidden" id="ModuleID" name="ModuleID" value="@Model.ModuleID" class="formdata" />
                                    <input type="hidden" id="ModuleCatID" name="ModuleCatID" value="@Model.ModuleCatID" class="formdata" />*@

                                <input type="hidden" id="Prod_ID" name="ModuleID" value="@Model.Prod_ID" class="formdata" />

                                <fieldset>

                                    <div class="form-group">



                                        @Html.Label(WatanART.Localization.Resource.CategoryMain, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-10">
                                            <select id="categoryParent" class="form-control  SELECT2" name="categoryParent" data-bv-notempty="true" data-bv-notempty-message="@WatanART.Localization.Resource.Required">

                                                <option value="0">@WatanART.Localization.Resource.Select</option>
                                                @if (ViewBag.cat != null)
                                                {
                                                    
                                                    foreach (var item in ViewBag.cat as IEnumerable<WatanART.BLL.ViewModels.CategoryVM>)
                                                    {

                                                        if (item.Cat_ID == Model.parent)
                                                        {
                                                            <option value="@item.Cat_ID" selected>@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                        <option value="@item.Cat_ID">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>

                                        </div>
                                    </div>

                                    <div class="form-group"  id="div_sub" name="div_sub">



                                        @Html.Label(WatanART.Localization.Resource.CategorySub, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-10">
                                            <select id="categorysub" class="form-control  SELECT2" name="categorysub" data-bv-notempty="true" data-bv-notempty-message="@WatanART.Localization.Resource.Required">

                                                <option value="0">@WatanART.Localization.Resource.Select</option>
                                                @if (ViewBag.subcat != null)
                                                {
                                                    foreach (var item2 in ViewBag.subcat as IEnumerable<WatanART.BLL.ViewModels.CategoryVM>)
                                                    {
                                                        if (item2.Cat_ID == Model.Cat_ID)
                                                        {
                                                            <option value="@item2.Cat_ID" selected>@item2.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item2.Cat_ID">@item2.Name</option>
                                                        }
                                                    }
                                                }

                                            </select>

                                        </div>
                                    </div>
                                    <div class="form-group">



                                        @Html.Label(WatanART.Localization.Resource.NameAr, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.Prod_NameAR, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.NameAr
                                       })

                                            @Html.ValidationMessageFor(model => model.Prod_NameAR, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.Label(WatanART.Localization.Resource.NameEn, new { @class = "col-lg-2 control-label" })
                                        <div class="col-lg-4">
                                            @Html.TextBoxFor(m => m.Prod_NameEN, new
                                       {
                                           @class = "formdata form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = @WatanART.Localization.Resource.NameEn
                                       })

                                            @Html.ValidationMessageFor(model => model.Prod_NameEN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @if (ViewBag.Property != null)
                                    {
                                        @Html.Label(WatanART.Localization.Resource.AddProperty, new { @class = "col-lg-2 control-label", style = "color:red;" })
                                        <div class="clearfix"></div>
                                        foreach (var item in ViewBag.Property as IEnumerable<WatanART.BLL.ViewModels.PropertiesVM>)
                                        {
                                            <div class="form-group">

                                                <div class="col-lg-1">

                                                </div>



                                                <div class="col-lg-1">
                                                    @if (ViewBag.Product_Property != null)
                                                    {
                                                        bool flag = false;

                                                        foreach (var item3 in ViewBag.Product_Property as IEnumerable<WatanART.BLL.ViewModels.ProductPropertiesVM>)
                                                        {

                                                            if (item3.Prop_ID == item.Prop_ID)
                                                            {
                                                                flag = true;
                                                                break;
                                                            }

                                                        }
                                                        if (flag)
                                                        {
                                                            <input id="ch_@i" name="ch_@i" type="checkbox" checked />
                                                        }
                                                        else
                                                        {
                                                            <input id="ch_@i" name="ch_@i" type="checkbox" />
                                                        }
                                                    }
                                                    else
                                                    {
                                                    <input id="ch_@i" name="ch_@i" type="checkbox" />
                                                    }
                                                </div>
                                                <div class="col-lg-2">
                                                    @item.Name
                                        
                                                    
                                                    
                                                    <input id="Prop_@i" name="Prop_@i" type="hidden" value="@item.Prop_ID" />
                                                    
                                                </div>
                                                <div class="col-lg-6">


                                                    <select id="Prop_Data_@i" name="Prop_Data_@i" multiple style="width:100%" class="form-control  select2" data-select-search="true">

                                                        @foreach (var item2 in item.Options as IEnumerable<WatanART.BLL.ViewModels.PropertyOptionsVM>)
                                                        {
                                                            if (ViewBag.Product_Property != null)
                                                            {
                                                                bool flag = false;

                                                                foreach (var item3 in ViewBag.Product_Property as IEnumerable<WatanART.BLL.ViewModels.ProductPropertiesVM>)
                                                                {

                                                                    if (item3.Data_ID == item2.Data_ID)
                                                                    {
                                                                        flag = true;
                                                                        break;
                                                                    }

                                                                }
                                                                if (flag)
                                                                {
                                                                    <option value="@item2.Data_ID" selected>@item2.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item2.Data_ID">@item2.Name</option>

                                                                }
                                                            }
                                                            else
                                                            {
                                                            <option value="@item2.Data_ID">@item2.Name</option>
                                                            }
                                                          }

                                                    </select>



                                                </div>

                                            </div>
                                            i++;
                                        }

                                    }




                                    @Html.Partial("ImageControlJS", (Model.Prod_image == null ? "" : Model.Prod_image.ToString()), new ViewDataDictionary(this.ViewData) { { "ID", "Image" } })








                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button type="button" onclick="Submit();" class="btn btn-primary" id="btnSubmit">
                                                <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            }
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    //$(document).ready(function () {


    //    $(".SELECT2").select2();

    //});

    function Submit() {
        $('#frmForm').bootstrapValidator('validate');

        if ($('#frmForm').has('.has-error').length === 0) {
            submitInsert();
        } else {
            // alert("notvalid");
        }

    }




    function submitInsert() {
        debugger;



        var NameAR = $("#Prod_NameAR").val();
        var NameEN = $("#Prod_NameEN").val();
        var Prod_ID=$("#Prod_ID").val();
        var Cat_ID = $("#categorysub option:selected").val();
        var Prod_image = $("#hid_Image").val();
    var count=@i;
        var prop_data = "";
        for (var x = 1; x < count; x++) {
            var ch = document.getElementById("ch_"+x.toString()).value;
            if (ch=="on") {
                var Prop_ID = document.getElementById("Prop_"+x.toString()).value;

                var multidrop = document.getElementById("Prop_Data_"+x.toString());

                for (var y = 0; y < multidrop.options.length; y++) {
                    if(multidrop.options[y].selected ==true){
                       // alert(multidrop.options[y].value);
                        prop_data +=Prop_ID+"&"+multidrop.options[y].value+",";
                    }
                }
            }

        }

        var url = '@Url.Action("Updateajax", "Product")';
        $.ajax({
            url: url,
            data: {
                Prod_ID:Prod_ID, Prod_NameAR: NameAR, Prod_NameEN: NameEN, Cat_ID: Cat_ID, Prod_image: Prod_image,prop_data:prop_data
                        },


            cache: false,
            type: "POST",
            success: function (data) {

                var dataRes = data;
                if (dataRes > 0) {


                    swal({
                        text: "@WatanART.Localization.Resource.DataSavedSuccessfully ",
                        //timer: 5000
                    }).then(
                       function () {
                           var href = "/Admin/Product/Index/@ViewBag.catID";
                           window.location.href = href;

                       })


                } else {
                    swal("@WatanART.Localization.Resource.ErrorOccurred");
                }


            }
        });


    }








</script>

<script>


    $('#categoryParent').on('change', function () {

        var Parentid= $(this).find(":selected").val();

        setSubCat(Parentid);
    });


    function setSubCat(id) {

        if (id != '' && id != null && id > 0) {
            debugger
            var selected = id;
            Parent = id;

            var href2 = '@Url.Action("SubList", "Product")';
            $.ajax({
                url: href2,
                data: { Parent: id },
                cache: false,
                type: "GET",
                contentType: 'application/json; charset=utf-8',

                success: function (data) {
                    $('#categorysub').empty();
                    $("#categorysub").val(0);

                    $("#div_sub").show();
                    if (data != null) {

                        for (var x = 0; x < data.length; x++) {


                            $('#categorysub').append('<option value="' + data[x].Cat_ID + '">' + data[x].Name + '</option>');


                        }

                    }

                    $('#categorysub').trigger('change');

                },
                error: function (reponse) {
                    $('#categorysub').empty();
                    $("#categorysub").val(0);
                    $('#categorysub').trigger('change');
                    $('#categorysub').append('<option selected disabled>Select</option>');
                }
            });


        }

    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






