@model WatanART.BLL.ViewModels.GeneralData
@{
    ViewBag.Title = "NewColor";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Areas/Admin/Js/select2-bootstrap.css" rel="stylesheet" />
<link href="~/Areas/Admin/Js/select2.css" rel="stylesheet" />
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li><a href="@Url.Action("Index")">@WatanART.Localization.Resource.GeneralColor</a></li>
        <li>@WatanART.Localization.Resource.Add</li>
    </ol>
</div>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@WatanART.Localization.Resource.Add </h2>

                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<form id="smart-form-register" class="smart-form">*@
                            @using (Html.BeginForm("Add", "color", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "frmForm"
                            }))
                            {
                                @*<input type="hidden" id="ModuleID" name="ModuleID" value="@Model.ModuleID" class="formdata" />
                                    <input type="hidden" id="ModuleCatID" name="ModuleCatID" value="@Model.ModuleCatID" class="formdata" />*@

                                <fieldset>
                               
                     

                                        <div class="form-group">



                                            @Html.Label(WatanART.Localization.Resource.color, new { @class = "col-lg-2 control-label" })
                                            <div class="col-lg-8">
                                                @Html.TextBoxFor(m => m.Value, new
                                       {
                                           @class = "form-control",
                                           data_bv_notempty = "true",
                                           data_bv_notempty_message = @WatanART.Localization.Resource.Required,
                                           data_bv_stringlength = "true",
                                           data_bv_stringlength_min = "1",
                                           data_bv_stringlength_max = "100",
                                           data_bv_stringlength_message = @WatanART.Localization.Resource.StringLengthErrorMessage_100,
                                           placeholder = "ffffff"
                                       })

                                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                            </div>

                                           
                                        </div>

                                   



                                       



</fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button type="button" onclick="Submit();" class="btn btn-primary" id="btnSubmit">
                                                <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            }
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    //$(document).ready(function () {


    //    $(".SELECT2").select2();

    //});

    function Submit() {
        $('#frmForm').bootstrapValidator('validate');

        if ($('#frmForm').has('.has-error').length === 0) {
            submitInsert();
        } else {
            // alert("notvalid");
        }

    }




    function submitInsert() {
        debugger;



        var Value = $("#Value").val();
        
   
       
      
     
        var url = '@Url.Action("InsertGeneralData", "Settings")';
        $.ajax({
            url: url,
            data: {
                KeyAR: 'اللون', KeyEN: 'Color', Value: Value
                        },


            cache: false,
            type: "POST",
            success: function (data) {

                var dataRes = data;
                if (dataRes > 0) {


                    swal({
                        text: "@WatanART.Localization.Resource.DataSavedSuccessfully ",
                        //timer: 5000
                    }).then(
                       function () {
                           var href = "/Admin/Settings/ColorSetting/@ViewBag.catID";
                           window.location.href = href;

                       })


                } else {
                    swal("@WatanART.Localization.Resource.ErrorOccurred");
                }


            }
        });
        //}

    }








</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


