
@{
    ViewBag.Title = "HomeSetting";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model  WatanART.BLL.ViewModels.IntroVM
<div id="ribbon">
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="../../admin/Shared/Index">@WatanART.Localization.Resource.MenuHome</a></li>
        <li>@WatanART.Localization.Resource.MainSettings</li>
    </ol>
</div>
<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@WatanART.Localization.Resource.MainSettings </h2>

                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            @*<form id="smart-form-register" class="smart-form">*@
                            @using (Html.BeginForm(null, null, FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                data_bv_message = "This value is not valid",
                                data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
                                data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
                                data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh",
                                role = "form",
                                enctype = "multipart/form-data",
                                id = "frmForm"
                            }))
                            {
                                @*<input type="hidden" id="ModuleID" name="ModuleID" value="@Model.ModuleID" class="formdata" />
                                    <input type="hidden" id="ModuleCatID" name="ModuleCatID" value="@Model.ModuleCatID" class="formdata" />*@

                                <fieldset>

        

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">@WatanART.Localization.Resource.TitleAr </label>

                                        <div class="col-lg-4">


                                            <input type="text" name="IntroTitlear" id="IntroTitlear" class="form-control" data-bv-notempty="true"
                                                   data-bv-notempty-message="@WatanART.Localization.Resource.Required" value="@Model.IntrowebTitlear"
                                                   data-bv-stringlength="true"
                                                   data-bv-stringlength-min="1"
                                                   data-bv-stringlength-max="150"
                                                   data-bv-stringlength-message=@WatanART.Localization.Resource.StringLengthErrorMessage_150
                                                   placeholder=@WatanART.Localization.Resource.TitleAr />
                                        </div>

                                        <label class="control-label col-lg-2">@WatanART.Localization.Resource.TitleEn </label>
                                        <div class="col-lg-4">


                                            <input type="text" name="IntroTitleen" id="IntroTitleen" class="form-control" data-bv-notempty="true"
                                                   data-bv-notempty-message="@WatanART.Localization.Resource.Required" value="@Model.IntrowebTitleen"
                                                   data-bv-stringlength="true"
                                                   data-bv-stringlength-min="1"
                                                   data-bv-stringlength-max="150"
                                                   data-bv-stringlength-message=@WatanART.Localization.Resource.StringLengthErrorMessage_150
                                                   placeholder=@WatanART.Localization.Resource.TitleEn />
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-lg-2">@WatanART.Localization.Resource.DescriptionAr </label>

                                        <div class="col-lg-4">


                                            <textarea  rows="5" cols="80" name="IntroTextar" id="IntroTextar" placeholder="@WatanART.Localization.Resource.DescriptionAr" class="form-control EditorBox" data-bv-notempty="true"
                                                   data-bv-notempty-message="@WatanART.Localization.Resource.Required">@Model.IntrowebTextar</textarea> 
                                                  
                                                    
                                        </div>



                                        <label class="control-label col-lg-2">@WatanART.Localization.Resource.DescriptionEn </label>

                                        <div class="col-lg-4">


                                            <textarea rows="5" cols="80" name="IntroTexten" id="IntroTexten" placeholder="@WatanART.Localization.Resource.DescriptionEn" class="form-control EditorBox" data-bv-notempty="true"
                                                      data-bv-notempty-message="@WatanART.Localization.Resource.Required">@Model.IntrowebTexten</textarea> 
                                        </div>




                                    </div>


                                    
                                  
                                </fieldset>
                               

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button type="button" onclick="Submit();" class="btn btn-primary" id="btnSubmit">
                                                <i class="fa fa-floppy-o"></i> @WatanART.Localization.Resource.BtnSave
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            }
                            @*</form>*@

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<script type="text/javascript">
    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    function Submit() {
        $('#frmForm').bootstrapValidator('validate');

        if ($('#frmForm').has('.has-error').length === 0) {
            submitInsert();
        } else {
            // alert("notvalid");
        }

    }



   



    function submitInsert() {
        debugger;
        var IntroTitlear = $("#IntroTitlear").val();
        var IntroTitleen = $("#IntroTitleen").val();
        var IntroTextar = $('#IntroTextar').val();
        var IntroTexten = $('#IntroTexten').val();
       
      

       
       

      
        var url = '@Url.Action("WEBSettingSettingajax", "Settings")';
        $.ajax({
            url: url,
            data: {
                IntrowebTitlear: IntroTitlear, IntrowebTitleen: IntroTitleen, IntrowebTextar: IntroTextar, IntrowebTexten: IntroTexten
            

                        },


            cache: false,
            type: "POST",
            success: function (data) {

                var dataRes = data;
                if (dataRes > 0) {


                    swal({
                        text: "@WatanART.Localization.Resource.DataSavedSuccessfully ",
                        //timer: 5000
                    }).then(
                       function () {
                           var href = "/Admin/Settings/WEBSetting";
                           window.location.href = href;

                       })


                } else {
                    swal("@WatanART.Localization.Resource.ErrorOccurred");
                }


            }
        });
        //}

    }








</script>
