@model IEnumerable<WatanART.BLL.ViewModels.ApplyCareerVM>

@{
    var Pageobj = ViewBag.PageObj as WatanART.BLL.ViewModels.PaggingVM;
    Pageobj = Pageobj == null ? new WatanART.BLL.ViewModels.PaggingVM() { CurrentPage = 1, TotalPages = 1 } : Pageobj;

    Pageobj.AjaxMetod = "ReloadTable(this)";
}
}
@if (Model != null && Model.Count() > 0)
{

<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr class="header">
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.ID" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.CareerPosition">
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.FullName" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.PhoneNumber" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.Address" />
            </th>
            <th class="hasinput">
            </th>
            <th class="hasinput">
            </th>
        </tr>
        <tr class="header">
            <th width="5%" data-class="expand">@Html.DisplayNameFor(model => model.ApplyCareerID)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.Career)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.FullName)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.Address)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.CVFile)</th>
            <th data-hide="phone">@WatanART.Localization.Resource.Operations</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ApplyCareerID)</td>
                <td>@Html.DisplayFor(modelItem => item.Career.CareerPosition)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td><a href="@item.CVFile" target="_blank">@WatanART.Localization.Resource.CV</a></td>

                <td>
                    <a href="javascript:void(0);" onclick="DeleteItem(@item.ApplyCareerID,this);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i class="fa fa-trash-o"></i></span>@WatanART.Localization.Resource.Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("LazyPaggingPV")

}
else {
<div> @WatanART.Localization.Resource.NoDataFound </div >
}