@model IEnumerable<WatanART.BLL.ViewModels.WorkTypeVM>

@{
    var Pageobj = ViewBag.PageObj as WatanART.BLL.ViewModels.PaggingVM;
    Pageobj = Pageobj == null ? new WatanART.BLL.ViewModels.PaggingVM() { CurrentPage = 1, TotalPages = 1 } : Pageobj;

    Pageobj.AjaxMetod = "ReloadTable(this)";
}
@if (Model != null && Model.Count() > 0)
{

<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
        <tr class="header">
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.ID" />
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.WorkTypeAR">
            </th>
            <th class="hasinput">
                <input type="text" class="form-control" placeholder="@WatanART.Localization.Resource.WorkTypeEN" />
            </th>
            <th class="hasinput">
            </th>
            <th class="hasinput">
            </th>
        </tr>
        <tr class="header">
            <th data-class="expand">@Html.DisplayNameFor(model => model.WorkTypeID)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.WorkTypeAR)</th>
            <th data-hide="phone">@Html.DisplayNameFor(model => model.WorkTypeEN)</th>
            <th data-hide="phone">@WatanART.Localization.Resource.Operations</th>
            <th data-hide="phone">@WatanART.Localization.Resource.Activate</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.WorkTypeID)</td>
                <td>@Html.DisplayFor(modelItem => item.WorkTypeAR)</td>
                <td>@Html.DisplayFor(modelItem => item.WorkTypeEN)</td>
                <td>
                    <a href="@Url.Action("EditWorkType", new { id = item.WorkTypeID})" class="btn btn-labeled btn-success"> <span class="btn-label"><i class="fa fa-edit"></i></span>@WatanART.Localization.Resource.Edit </a>
                    <a href="javascript:void(0);" onclick="DeleteItem(@item.WorkTypeID,this);" class="btn btn-labeled btn-danger"> <span class="btn-label"><i class="fa fa-trash-o"></i></span>@WatanART.Localization.Resource.Delete </a>
                </td>

                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @onchange = "ActiveDective(" + @item.WorkTypeID + ",this)" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("LazyPaggingPV")


}
else
{
    <div> @WatanART.Localization.Resource.NoDataFound </div >
}